
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Checkout{
    width: 100%;
    & .form{
        background-color: #181818;
        min-width: 350px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        & .clear{
            clear: both;
        }
        & .billcontainer{
            width: 40%;
            margin-right: 30px;
            & span{
                color: #d94f2b;
            }
            @media screen and (max-width: 770px) {
                width: 80%;
                margin: 0;
            }
            &__bill{
                &--leftwrapper, &--rightwrapper{
                    width: 48%;
                    margin-bottom:12px;
                }
                &--leftwrapper{
                    float: left;
                }
                &--rightwrapper{
                    float: right;
                }
                &--afterwrapper{
                    margin-top: -12px;
                }
            }
        }
        & .ordercontainer{
            width: 25%;
            @media screen and (max-width: 1225px) {
                width: 40%;
            }
            @media screen and (max-width: 770px) {
                width: 80%;
            }
            & span{
                color: #d94f2b;
            }
            &__order{
                font-size: 11px;
                color: #eeeeee;
                & dl{
                    display: flex;
                    justify-content: space-between;
                    & dt, & dd{
                        display: inline-block;
                        font-size: 14px;
                        margin: 10px 0;
                        & h6{
                            font-size: 10px;
                        }
                        & h4{
                            font-size: 16px;
                            color: #FFFFFF;
                        }
                        & h3{
                            font-size: 24px;
                        }
                    }
                }
                hr{
                    margin: 12px 0;
                    border: 0.1px solid #eeeeee;
                    opacity: 0.2;
                }
            }
            &__payment{
                &--orderbutton{
                    margin: 20px 0px;
                    width: 100%;
                    padding: 12px 0;
                    color: #000000;
                    background-color: #FDBC2C;
                    outline: none;
                    border: none;
                    font-size: 12px;
                    cursor: pointer;
                    font-weight: 700;
                    &:hover{
                        opacity: 0.9;
                    }
                }
                & .inactive{
                    opacity: 0.5;
                    cursor: not-allowed;
                }
                & .errorPrompt{
                    text-align: center;
                    color: #d94f2b;
                }
            }
        }
        & .billcontainer__login, & .ordercontainer__coupon{
            border-bottom: 3px solid #d94f2b;
            color: #FFFFFF;
            font-size: 20px;
            padding: 30px 0;
            & a{
                text-decoration: none;
            }
            &--redirect {
                cursor: pointer;
            }
        }
        & .billcontainer__login{
            & i{
                cursor: pointer;
            }
        }
        & .billcontainer__address, & .ordercontainer__payment{
            margin-top: 35px;
        }
        & .billcontainer__bill, & .billcontainer__address, 
        & .ordercontainer__order,  & .ordercontainer__payment{
            & h3{
                color: #FDBC2C;
                font-size: 30px;
                margin-bottom: 12px;
            }
            & form{
                overflow: hidden;
                & label{
                    font-size: 13px;
                    color: #FFFFFF;
                    display: block;
                    margin: 12px 0;
                }
                & select, input, textarea{
                    background-color: #181818;
                    border: 1px solid #FFFFFF;
                    color: #FFFFFF;
                    padding: 10px;
                    margin-bottom: 8px;
                    outline: none;
                    font-size: 11px;
                }
                & select, textarea{
                    width: 100%;
                }
                & input[type="text"]{
                    width: 100%;
                }
                & .inlinelabel{
                    display: inline-block;
                    margin-left: 12px;
                }
                & .faint{
                    opacity: 0.5;
                }
            }
        }
        & .billwrapper{
            margin: 50px 0 100px 0;
            padding-top: 30px;
            @media screen and (max-width: 770px) {
                margin: 50px 0 35px 0;
            }
        }
        & .orderwrapper{
            width: 100%;
            background-color: #000000;
            padding: 30px;
            margin-top: 50px;
            @media screen and (max-width: 770px) {
                margin-bottom: 50px;
            }
        }
    }
}
