*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Checkout{
    width: 100%;
    & .form{
        background-color: #181818;
        min-width: 350px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        & .clear{
            clear: both;
        }
        & .billcontainer{
            width: 40%;
            margin-right: 30px;
            & span{
                color: #d94f2b;
            }
            @media screen and (max-width: 770px) {
                width: 80%;
                margin: 0;
            }
            &__bill{
                &--leftwrapper, &--rightwrapper{
                    width: 48%;
                    margin-bottom:12px;
                }
                &--leftwrapper{
                    float: left;
                }
                &--rightwrapper{
                    float: right;
                }
                &--afterwrapper{
                    margin-top: -12px;
                }
            }
        }
        & .ordercontainer{
            width: 25%;
            @media screen and (max-width: 1225px) {
                width: 40%;
            }
            @media screen and (max-width: 770px) {
                width: 80%;
            }
            & span{
                color: #d94f2b;
            }
            &__order{
                font-size: 11px;
                color: #eeeeee;
                & dl{
                    display: flex;
                    justify-content: space-between;
                    & dt, & dd{
                        display: inline-block;
                        margin: 10px 0;
                        & h5{
                            font-size: 13px;
                            color: #FFFFFF;
                        }
                        & h4{
                            font-size: 18px;
                        }
                    }
                }
                hr{
                    margin: 12px 0;
                    border: 0.1px solid #eeeeee;
                    opacity: 0.2;
                }
            }
            &__payment{
                color: #FFFFFF;
                font-size: 11px;
                &--optionwrapper{
                    position: relative;
                    & img{
                        width: 50%;
                        height: 50%;
                        margin-left: 20px;
                    }
                    & h6{
                        position: absolute;
                        left: 58%;
                        top: 25%;
                        font-size: 5px;
                    }
                }
                &--paymentintro{
                    padding: 0 25px;
                }
                &--orderbutton{
                    margin-top: 20px;
                    width: 100%;
                    padding: 12px 0;
                    background-color: #FDBC2C;
                    outline: none;
                    border: none;
                    font-size: 12px;
                    cursor: pointer;
                    font-weight: 700;
                    &:hover{
                        opacity: 0.9;
                    }
                }
                p > span{
                    margin-left: 30px;
                }
            }
        }
        & .billcontainer__login, & .ordercontainer__coupon{
            border-bottom: 3px solid #d94f2b;
            color: #FFFFFF;
            padding: 30px 0;
            font-size: 20px;

            & a{
                text-decoration: none;
            }
        }
        & .billcontainer__address, & .ordercontainer__payment{
            margin-top: 35px;
        }
        & .billcontainer__bill, & .billcontainer__address, 
        & .ordercontainer__order,  & .ordercontainer__payment{
            & h3{
                color: #FDBC2C;
                font-size: 30px;
                margin-bottom: 12px;
            }
            & form{
                overflow: hidden;
                & label{
                    font-size: 13px;
                    color: #FFFFFF;
                    display: block;
                    margin: 12px 0;
                }
                & select, input, textarea{
                    background-color: #181818;
                    border: 1px solid #FFFFFF;
                    color: #FFFFFF;
                    padding: 10px;
                    margin-bottom: 8px;
                    outline: none;
                    font-size: 11px;
                }
                & select, textarea{
                    width: 100%;
                }
                & input[type="text"]{
                    width: 100%;
                }
                & .inlinelabel{
                    display: inline-block;
                    margin-left: 12px;
                }
            }
        }
        & .billwrapper{
            margin: 50px 0 100px 0;
            padding-top: 30px;
            @media screen and (max-width: 770px) {
                margin: 50px 0 35px 0;
            }
        }
        & .orderwrapper{
            width: 100%;
            background-color: #000000;
            padding: 30px;
            margin-top: 50px;
            @media screen and (max-width: 770px) {
                margin-bottom: 50px;
            }
        }
        & .radio{
            display: block;
        }
        & .radio__custom{
            display: inline-flex;
            justify-content: center;
            align-items: center; 
            width: 1.75em;
            height: 1.75em;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            &::after{
                content: "";
                width: 35%;
                height: 35%;
                display: block;
                background: #d94f2b;
                border-radius: 50%;
                transform: scale(0);
            }
            & + label{
                cursor: pointer;
            }
        }
        & input[type=radio]:checked + .radio__custom{
            border: 1px solid #d94f2b;
        }
        & input[type=radio]:checked + .radio__custom::after{
            transform: scale(1);
            transition: 0.3s;
        }
        & input[type=radio]:checked + .radio__custom + label{
            color: #d94f2b;
            transition: 0.3s;
        }
        & input[type=radio], & input[type=checkbox]{
            display: none;
        }
        & input[type=checkbox] + label{
            display: inline-flex;
            cursor: pointer;
        }
        & input[type=checkbox] + label:before{
            content: "\2714";
            border-radius: 0.2em;
            padding-left: 0.2em;
            padding-bottom: 0.3em;
        }
        & input[type=checkbox] + label:before{
            color: transparent;
            border: 1px solid #FFFFFF;
            display: inline-block;
            width: 1em;
            height: 1em;
            margin-right: 0.9em;
            margin-left: -0.9em;
            vertical-align: middle;
            cursor: default;
        }
        & input[type=checkbox]:checked + label:before{
            background-color:#d94f2b;
            color: #FFFFFF;
        }
        & input[type=checkbox]:checked + label:before{
            border: 0.1em solid #d94f2b;
            transition: 0.3s;
        }
        & input[type=checkbox] + label:active:before{
            transform: scale(0);
        }
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Checkout{
    width: 100%;
    & .form{
        background-color: #181818;
        min-width: 350px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        & .clear{
            clear: both;
        }
        & .billcontainer{
            width: 40%;
            margin-right: 30px;
            & span{
                color: #d94f2b;
            }
            @media screen and (max-width: 770px) {
                width: 80%;
                margin: 0;
            }
            &__bill{
                &--leftwrapper, &--rightwrapper{
                    width: 48%;
                    margin-bottom:12px;
                }
                &--leftwrapper{
                    float: left;
                }
                &--rightwrapper{
                    float: right;
                }
                &--afterwrapper{
                    margin-top: -12px;
                }
            }
        }
        & .ordercontainer{
            width: 25%;
            @media screen and (max-width: 1225px) {
                width: 40%;
            }
            @media screen and (max-width: 770px) {
                width: 80%;
            }
            & span{
                color: #d94f2b;
            }
            &__order{
                font-size: 11px;
                color: #eeeeee;
                & dl{
                    display: flex;
                    justify-content: space-between;
                    & dt, & dd{
                        display: inline-block;
                        margin: 10px 0;
                        & h5{
                            font-size: 13px;
                            color: #FFFFFF;
                        }
                        & h4{
                            font-size: 18px;
                        }
                    }
                }
                hr{
                    margin: 12px 0;
                    border: 0.1px solid #eeeeee;
                    opacity: 0.2;
                }
            }
            &__payment{
                color: #FFFFFF;
                font-size: 11px;
                &--optionwrapper{
                    position: relative;
                    & img{
                        width: 50%;
                        height: 50%;
                        margin-left: 20px;
                    }
                    & h6{
                        position: absolute;
                        left: 58%;
                        top: 25%;
                        font-size: 5px;
                    }
                }
                &--paymentintro{
                    padding: 0 25px;
                }
                &--orderbutton{
                    margin-top: 20px;
                    width: 100%;
                    padding: 12px 0;
                    background-color: #FDBC2C;
                    outline: none;
                    border: none;
                    font-size: 12px;
                    cursor: pointer;
                    font-weight: 700;
                    &:hover{
                        opacity: 0.9;
                    }
                }
                p > span{
                    margin-left: 30px;
                }
            }
        }
        & .billcontainer__login, & .ordercontainer__coupon{
            border-bottom: 3px solid #d94f2b;
            color: #FFFFFF;
            padding: 30px 0;
            font-size: 20px;

            & a{
                text-decoration: none;
            }
        }
        & .billcontainer__address, & .ordercontainer__payment{
            margin-top: 35px;
        }
        & .billcontainer__bill, & .billcontainer__address, 
        & .ordercontainer__order,  & .ordercontainer__payment{
            & h3{
                color: #FDBC2C;
                font-size: 30px;
                margin-bottom: 12px;
            }
            & form{
                overflow: hidden;
                & label{
                    font-size: 13px;
                    color: #FFFFFF;
                    display: block;
                    margin: 12px 0;
                }
                & select, input, textarea{
                    background-color: #181818;
                    border: 1px solid #FFFFFF;
                    color: #FFFFFF;
                    padding: 10px;
                    margin-bottom: 8px;
                    outline: none;
                    font-size: 11px;
                }
                & select, textarea{
                    width: 100%;
                }
                & input[type="text"]{
                    width: 100%;
                }
                & .inlinelabel{
                    display: inline-block;
                    margin-left: 12px;
                }
            }
        }
        & .billwrapper{
            margin: 50px 0 100px 0;
            padding-top: 30px;
            @media screen and (max-width: 770px) {
                margin: 50px 0 35px 0;
            }
        }
        & .orderwrapper{
            width: 100%;
            background-color: #000000;
            padding: 30px;
            margin-top: 50px;
            @media screen and (max-width: 770px) {
                margin-bottom: 50px;
            }
        }
        & input[type=radio]:checked + label{
            color: #d94f2b;
        }
        & input[type=radio], & input[type=checkbox]{
            display: none;
        }
        & input[type=radio] + label, & input[type=checkbox] + label{
            display: block;
            cursor: pointer;
        }
        & input[type=radio] + label:before{
            content: "●";
            border-radius: 50%;
            padding-left: 0.4em;
            padding-bottom: 0.6em;
        }
        & input[type=checkbox] + label:before{
            content: "\2714";
            border-radius: 0.2em;
            padding-left: 0.2em;
            padding-bottom: 0.3em;
        }
        & input[type=radio] + label:before, & input[type=checkbox] + label:before{
            color: transparent;
            border: 0.1em solid #FFFFFF;
            display: inline-block;
            width: 1em;
            height: 1em;
            margin-right: 0.9em;
            margin-left: -0.9em;
            vertical-align: center;
            cursor: default;
        }
        & input[type=radio]:checked + label:before{
            color: #d94f2b;
        }
        & input[type=checkbox]:checked + label:before{
            background-color:#d94f2b;
            color: #FFFFFF;
        }
        & input[type=radio]:checked + label:before, & input[type=checkbox]:checked + label:before{
            border: 0.1em solid #d94f2b;
            transition: 0.3s;
        }
        & input[type=radio] + label:active:before, & input[type=checkbox] + label:active:before{
            transform: scale(0);
        }
    }
}
