* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.manageAccount {
  width: 100%;
  height: 100%;
}

.manageAccount__userProfile {
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manageAccount__userProfile h1 {
  font-size: 3rem;
}
