*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.blog{
    margin: 0 auto;
}

a{
    text-decoration: none;
}
.blog img{
    width: 90%;
    height: 90%;
    display: block;
    margin: 15px auto;
}  
.blog li{
    list-style: none;
}
.blog .banner { 
    background-image: url(img/banner.JPG);
    width: 1000px;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.blog .top{
    width:638px;
    height:638px;
    text-align: center;
    margin: 30px auto;
}
.blog .toppicture{
    width: 100%;
    height: 60%;
    margin: 0 auto;
    border: 2px solid #dc522e;
}
.blog .writers{ 
    color: #dc522e;
    margin: 20px auto;
}
.blog .by{
    color: #f3f3f3
}
.blog .bigTitle{
    font-size: 25px;
    font-weight: bold;
    color: #fdbc2c
}
.blog .contents{
    color: #f3f3f3;
    margin-top: 20px;
}
.blog .readmore{
    margin: 15px auto;
    width: 80px;
    height: 30px;
    background-color: #fdbc2c;
    text-align: center;
}
.blog .readmore a{
    color: black;
    font-size: 10px;
    font-weight: bold;
    line-height: 30px;
}
.blog .blogContent{
    display: flex;
    justify-content: space-between;
    width: 638px;
    height: 300px;
    border-top: 1px solid #353535;
    margin: 50px auto;
}
.blog .contentPic{
    width: 48%;
    height:90%;
    margin: 20px auto;
    border: 2px solid #dc522e;
}
.blog .blogBody{
    width:48%;
    height: 90%;
    text-align: left
}
.blog .blogContent .readmore{
    margin-left: 0;
}
@media screen and (max-width: 767px) {
    .blog .banner{
        width: 100%;
    }
    .blog .top, .blog .blogContent{
        width: 90%;
        height: fit-content;
    }
}
@media screen and (min-width: 768px){
    .blog .banner{
        width: 100%;
    }
    .blog .top, .blog .blogContent{
        width: 80%;
        height: fit-content;
    }
}
@media screen and (min-width: 992px){
    .blog .banner{
        width: 100%
    }
    .blog .top, .blog .blogContent{
        width: 70%;
    }
}
@media screen and (min-width: 1170px){
    .blog.banner{
        width: 100%;
    }
    .blog .top, .blog .blogContent{
        width: 65%;
    }
}
