*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dashboard {
    width: 100%;
    height: max-content;
    & form {
        width: 80%;
    }
    & .form {
        display: flex;
        justify-content: space-evenly;
        & .userbar {
            width: 30%;
            display: flex;
            justify-content: center;
        }
        & .mydetails {
            color:#FDBC2C;
            width: 60%;
            display: flex;
            justify-content: center;
            & hr {
                border: solid 1px #FDBC2C;
            }
            & .userName {
                display: flex;
                justify-content: space-evenly;
            }
            & input {
                border: solid 2px #FDBC2C;
                border-radius: 4px;
                height: 2em;
            }
        }
    }
}
