*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashboard{
    width: 100%;
    background-color: #181818;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    &__changePassword, &__managePizza{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        color: #FFFFFF;
        &--sizeWrapper{
            display: inline-flex;
            justify-content: center;
            width: 33.3%;
            flex-wrap: wrap;;
            & .input{
                width: 80%;
            }
        }
        &--buttonWrapper{
            display: flex;
            justify-content: center;
        }
        & section{
            width: 100%;
            padding: 30px;
            & h3{
                font-size: 20px;
                margin: 0 20px;
                font-weight: 700;
                margin-bottom: 25px;
            }
            & label{
                font-size: 14px;
                margin: 0 20px;
            }
            & input{
                margin: 20px;
                display: block;
                height: 40px;
                width: 95%;
                border-radius: 5px;
                padding: 10px;
                background-color: #181818;
                color: #FFFFFF;
                border: 2px solid #FFFFFF;
                position: relative;
                outline: none;
                font-size: 14px;
            }
            & ::placeholder{
                color: #e0e0e0;
                opacity: 0.5;
            }
            & .withIcon{
                width: 100%;
                position: relative;
                & .Red{
                    color: #d94f2b;
                }
                & .Green{
                    color: #1FC36A;
                }
                & .iconField{
                    background-color: #696969;
                    border: 2px solid #FFFFFF;
                    position: absolute;
                    top: 36px;
                    right: 0px;
                    width: 55px;
                    height: 40px;
                    border-radius: 0px 5px 5px 0px;
                    outline: none;
                    cursor: pointer;
                    &:hover{
                        background-color: #d94f2b;
                    }
                }
                & .green{
                    color: #1FC36A;
                }
                & .red{
                    color: #d94f2b;
                }
                & span{
                    position: absolute;
                    right: 4rem;
                    top: 3rem;
                }
                & i{
                    position: absolute;
                    top: 48px;
                    right: 20px;
                    border: none;
                    cursor: pointer;
                    outline: none;
                }
            }
            & .Red{
                color: #d94f2b;
                border: 2px solid #d94f2b;
            }
            & .Green{
                color: #1FC36A;
                border: 2px solid #1FC36A;
            }
            & .updateBtn, .addBtn{
                height: 50px;
                border-radius: 5px;
                margin: 25px 0;
                background-color: #FDBC2C;
                color: #FFFFFF;
                cursor: pointer;
                font-weight: 700;
                &:hover{
                    opacity: 0.7;
                }
            }
            & .updateBtn{
                width: 100%;
            }
            & .addBtn{
                width:50%;
            }
            & .disabled{
                cursor: not-allowed;
                outline: none;
                opacity: 0.7;
            }
        }
        &--incorrect, &--isUpdated{
            text-align: center;
            margin-bottom: 25px;
        }
        &--incorrect{
            color: #d94f2b;
        }
        &--isUpdated{
            color: #1FC36A;
        }
        &--passwordRules{
            text-align: left;
            h4{
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 10px;
                & span{
                    font-weight: 700;
                }
            }
            &--ruleWrapper{
                width: 400px;
                margin: 0 auto;
                h5{
                    display: inline-block;
                    font-size: 15px;
                    font-weight: 300;
                    margin: 15px;
                }
                & .number{
                    margin-right: 88px;
                }
            }
        }
    }
}