* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dashboard {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  background-color: #181818;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__userBar{
    margin-top: 65px;
    line-height: 1.5rem;
  }
  &__changePassword,
  &__managePizza {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    color: #ffffff;
    margin-top: 95px;
    &--sizeWrapper {
      display: inline-flex;
      justify-content: center;
      width: 33.3%;
      flex-wrap: wrap;
      & .input {
        width: 80%;
      }
    }
    &--buttonWrapper {
      display: flex;
      justify-content: center;
    }
    & section {
      width: 100%;
      margin-left: 30px;
      & hr {
        border: solid 2px #d94f2b;
        margin: 25px 20px;
      }
      & h3 {
        font-size: 30px;
        color: #fdbc2c;
        margin: 0 20px;
        margin-bottom: 25px;
      }
      & label {
        font-size: 16px;
        margin: 0 20px;
      }
      & input {
        margin: 20px;
        display: block;
        height: 40px;
        width: 95%;
        border-radius: 5px;
        padding: 10px;
        background-color: #181818;
        color: #ffffff;
        border: 2px solid #ffffff;
        position: relative;
        outline: none;
        font-size: 16px;
      }
      & ::placeholder {
        color: #e0e0e0;
        opacity: 0.5;
      }
      & .withIcon {
        width: 100%;
        position: relative;
        & .Red {
          color: #d94f2b;
        }
        & .Green {
          color: #1fc36a;
        }
        & .iconField {
          background-color: #696969;
          border: 2px solid #ffffff;
          position: absolute;
          top: 36px;
          right: 0px;
          width: 55px;
          height: 40px;
          border-radius: 0px 5px 5px 0px;
          outline: none;
          cursor: pointer;
          &:hover {
            background-color: #d94f2b;
          }
        }
        & .green {
          color: #1fc36a;
        }
        & .red {
          color: #d94f2b;
        }
        & span {
          position: absolute;
          right: 4rem;
          top: 3rem;
        }
        & i {
          position: absolute;
          top: 48px;
          right: 20px;
          border: none;
          cursor: pointer;
          outline: none;
        }
      }
      & .Red {
        color: #d94f2b;
        border: 2px solid #d94f2b;
      }
      & .Green {
        color: #1fc36a;
        border: 2px solid #1fc36a;
      }
      & .updateBtn,
      .addBtn,
      .removeBtn {
        border-radius: 5px;
        margin: 20px 20px 80px 20px;
        background-color: #fdbc2c;
        color: #ffffff;
        cursor: pointer;
        font-weight: 700;
        &:hover {
          opacity: 0.7;
        }
      }
      & .updateBtn {
        width: 100%;
        height: 50px;
      }
      & .addBtn,
      & .removeBtn {
        width: 25%;
        height: 40px;
      }
      & .disabled {
        cursor: not-allowed;
        outline: none;
        opacity: 0.7;
      }
    }
    &--incorrect,
    &--isUpdated {
      text-align: center;
      margin-bottom: 25px;
    }
    &--incorrect {
      color: #d94f2b;
    }
    &--isUpdated {
      color: #1fc36a;
    }
    &--passwordRules {
      text-align: left;
      h4 {
        font-size: 18px;
        font-weight: 300;
        margin: 10px 20px;
        & span {
          font-weight: 700;
        }
      }
      &--ruleWrapper {
        width: 400px;
        margin: 0 auto;
        h5 {
          display: inline-block;
          font-size: 15px;
          font-weight: 300;
          margin: 15px;
        }
        & .number {
          margin-right: 88px;
        }
      }
    }
  }
}
