* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dashboard {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  background-color: #181818;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard__userBar {
  margin-top: 65px;
  line-height: 1.5rem;
}

.dashboard__changePassword, .dashboard__managePizza {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  color: #ffffff;
  margin: 95px 0;
}

.dashboard__changePassword--sizeWrapper, .dashboard__managePizza--sizeWrapper {
  display: inline-flex;
  justify-content: center;
  width: 33.3%;
  flex-wrap: wrap;
}

.dashboard__changePassword--sizeWrapper .input, .dashboard__managePizza--sizeWrapper .input {
  width: 80%;
}

.dashboard__changePassword--buttonWrapper, .dashboard__managePizza--buttonWrapper {
  display: flex;
  justify-content: center;
}

.dashboard__changePassword section, .dashboard__managePizza section {
  width: 100%;
  margin: 0 0 30px 30px;
}

.dashboard__changePassword section hr, .dashboard__managePizza section hr {
  border: solid 2px #d94f2b;
  margin: 25px 20px;
}

.dashboard__changePassword section h3, .dashboard__managePizza section h3 {
  font-size: 30px;
  color: #fdbc2c;
  margin: 0 20px;
  margin-bottom: 25px;
}

.dashboard__changePassword section label, .dashboard__managePizza section label {
  font-size: 16px;
  margin: 0 20px;
}

.dashboard__changePassword section input, .dashboard__managePizza section input {
  margin: 20px;
  display: block;
  height: 40px;
  width: 95%;
  border-radius: 5px;
  padding: 10px;
  background-color: #181818;
  color: #ffffff;
  border: 2px solid #ffffff;
  position: relative;
  outline: none;
  font-size: 16px;
}

.dashboard__changePassword section ::placeholder, .dashboard__managePizza section ::placeholder {
  color: #e0e0e0;
  opacity: 0.5;
}

.dashboard__changePassword section .withIcon, .dashboard__managePizza section .withIcon {
  width: 100%;
  position: relative;
}

.dashboard__changePassword section .withIcon .Red, .dashboard__managePizza section .withIcon .Red {
  color: #d94f2b;
}

.dashboard__changePassword section .withIcon .Green, .dashboard__managePizza section .withIcon .Green {
  color: #1fc36a;
}

.dashboard__changePassword section .withIcon .iconField, .dashboard__managePizza section .withIcon .iconField {
  background-color: #696969;
  border: 2px solid #ffffff;
  position: absolute;
  top: 36px;
  right: 0px;
  width: 55px;
  height: 40px;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  cursor: pointer;
}

.dashboard__changePassword section .withIcon .iconField:hover, .dashboard__managePizza section .withIcon .iconField:hover {
  background-color: #d94f2b;
}

.dashboard__changePassword section .withIcon .green, .dashboard__managePizza section .withIcon .green {
  color: #1fc36a;
}

.dashboard__changePassword section .withIcon .red, .dashboard__managePizza section .withIcon .red {
  color: #d94f2b;
}

.dashboard__changePassword section .withIcon span, .dashboard__managePizza section .withIcon span {
  position: absolute;
  right: 4rem;
  top: 3rem;
}

.dashboard__changePassword section .withIcon i, .dashboard__managePizza section .withIcon i {
  position: absolute;
  top: 48px;
  right: 20px;
  border: none;
  cursor: pointer;
  outline: none;
}

.dashboard__changePassword section .Red, .dashboard__managePizza section .Red {
  color: #d94f2b;
  border: 2px solid #d94f2b;
}

.dashboard__changePassword section .Green, .dashboard__managePizza section .Green {
  color: #1fc36a;
  border: 2px solid #1fc36a;
}

.dashboard__changePassword section .updateBtn,
.dashboard__changePassword section .addBtn,
.dashboard__changePassword section .removeBtn, .dashboard__managePizza section .updateBtn,
.dashboard__managePizza section .addBtn,
.dashboard__managePizza section .removeBtn {
  border-radius: 5px;
  margin: 20px;
  background-color: #fdbc2c;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}

.dashboard__changePassword section .updateBtn:hover,
.dashboard__changePassword section .addBtn:hover,
.dashboard__changePassword section .removeBtn:hover, .dashboard__managePizza section .updateBtn:hover,
.dashboard__managePizza section .addBtn:hover,
.dashboard__managePizza section .removeBtn:hover {
  opacity: 0.7;
}

.dashboard__changePassword section .updateBtn, .dashboard__managePizza section .updateBtn {
  width: 100%;
  height: 50px;
}

.dashboard__changePassword section .addBtn,
.dashboard__changePassword section .removeBtn, .dashboard__managePizza section .addBtn,
.dashboard__managePizza section .removeBtn {
  width: 25%;
  height: 40px;
}

.dashboard__changePassword section .disabled, .dashboard__managePizza section .disabled {
  cursor: not-allowed;
  outline: none;
  opacity: 0.7;
}

.dashboard__changePassword--incorrect, .dashboard__changePassword--isUpdated, .dashboard__managePizza--incorrect, .dashboard__managePizza--isUpdated {
  text-align: center;
  margin-bottom: 25px;
}

.dashboard__changePassword--incorrect, .dashboard__managePizza--incorrect {
  color: #d94f2b;
}

.dashboard__changePassword--isUpdated, .dashboard__managePizza--isUpdated {
  color: #1fc36a;
}

.dashboard__changePassword--passwordRules, .dashboard__managePizza--passwordRules {
  text-align: left;
}

.dashboard__changePassword--passwordRules h4, .dashboard__managePizza--passwordRules h4 {
  font-size: 18px;
  font-weight: 300;
  margin: 10px 20px;
}

.dashboard__changePassword--passwordRules h4 span, .dashboard__managePizza--passwordRules h4 span {
  font-weight: 700;
}

.dashboard__changePassword--passwordRules--ruleWrapper, .dashboard__managePizza--passwordRules--ruleWrapper {
  width: 400px;
  margin: 0 auto;
}

.dashboard__changePassword--passwordRules--ruleWrapper h5, .dashboard__managePizza--passwordRules--ruleWrapper h5 {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  margin: 15px;
}

.dashboard__changePassword--passwordRules--ruleWrapper .number, .dashboard__managePizza--passwordRules--ruleWrapper .number {
  margin-right: 88px;
}
