@import "../../initialCSS/normalize.css";
@import "../../initialCSS/reset.css";

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

.order-history {
  font-family: "Josefin Sans", sans-serif;
  background: black url(../../images/Background-Grey.png) no-repeat center
    top;
  &__all {
    display: flex;
    max-width: 1720px;
    min-width: 750px;
    margin: 20px auto;
    width: 80%;
    &__userBar{
      margin-top:50px;
    }
  }
  &__wrap {
    margin: 20px 50px;
    width: 70%;
    nav {
      height: 52px;
      ul {
        display: flex;
        width: 100%;
        li {
          flex: 1;
          text-align: center;
          font-size: 23px;
          font-family: JosefinSans-Bold;
          text-transform: uppercase;
          color: #fff;
          line-height: 50px;
          cursor: pointer;
          border-bottom: 2px solid #5f5f5f;

          &:hover {
            color: #fdbc2c;
            border-bottom: 2px solid #fdbc2c;
          }
        }
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      color: #fff;
      font-size: 23px;
      line-height: 23px;
      li {
        flex: 1;
        text-align: center;
      }
      li:first-child {
        flex: 2;
      }
    }
    &__handle {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      color: #fff;
      form {
        input {
          padding: 0 5px;
          background-color: #f5f5f5;
          border-left: none;
          border: 1px solid #bfbfbf;
        }
        button {
          padding: 0 10px;
          background-color: transparent;
          color: #bfbfbf;
          border-left: none;
          border: 1px solid #bfbfbf;
          cursor: pointer;
          font-weight: 700;
          // border-radius:15%;
        }
      }
      aside {
        display: flex;
        p {
          line-height: 23px;
        }
        span {
          display: inline-block;
          margin-left: 10px;
          border: 1px solid #bfbfbf;
          border-radius: 25%;
          font-size: 15px;
          line-height: 23px;
          width: 30px;
          text-align: center;
          cursor: pointer;
          &:hover {
            background-color: #d94f2b;
          }
        }
      }
    }
    &__orders {
      &__item {
        margin: 15px 0;
        min-height: 200px;
        background: black;
        color: #fff;
        font-weight: 200;
        transition: 0.2s ease;
        &:hover {
          box-shadow: 0 3px 5px rgba(253, 188, 44, 0.2);
          transform: translateY(-3px);
        }
        h2 {
          padding: 10px;
          margin: 0 5px;
          border-bottom: 1px solid #fdbc2c;
          strong {
            margin-right: 10px;
            font-weight: 700;
          }
        }
        .order-bottom {
          padding: 10px 15px;
          display: flex;
          width: 100%;
          min-height: 162px;
          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 2;
            width: 100px;
            li {
              display: flex;
              margin-top: 10px;
              padding-right: 25px;
              justify-content: space-between;
            }
          }
          .order-toppings{
            padding: 10px 15px;
            flex: 2;
            display: flex;
            border-left: 1px solid #fdbc2c;
            ul {
              flex: 2;
              li {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                & span{
                  margin: 10px;
                }
              }
            }
          }
          .order-notes {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            border-left: 1px solid #fdbc2c;

            h3 {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-size: 23px;
            }
          }
        }
      }
    }
  }
  &__footer{
    margin: 0 auto;
    width: 80%;
  }
}
