* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Checkout {
  width: 100%;
}

.Checkout .footer {
  min-width: 350px;
  height: 80px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Checkout .footer__copyright h6 {
  color: #e0e0e0;
  opacity: 0.4;
  font-size: 11px;
}
