*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.currentPage{
    color: #FFFFFF;
    font-weight: 700;
}

.order-history__footer{
    display: flex;
    justify-content: center;
    margin-left: 320px;
    & .pagination{
        width: 940px;
    }    
}