* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dashboard {
  width: 100%;
  height: 130em;
  background-image: url("../../../images/Pizza-bg.png");
  line-height: 1.5em;
  & h3 {
    font-weight: bold;
    font-size: 20px;
  }
  & section {
    width: 100%;
  }
  & form {
    width: 80%;
    margin-top: 1em;
  }
  & .form {
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
    & .userbar {
      width: 40%;
      display: flex;
      justify-content: center;
      margin-left: 3em;
    }
    & .mydetails {
      color: #fdbc2c;
      width: 90%;
      display: flex;
      justify-content: center;
      & hr {
        border: solid 1px #fdbc2c;
      }
      & .userName {
        display: flex;
        justify-content: space-between;
        & input {
          margin-top: 1em;
        }
      }
      & input {
        border: solid 2px #fdbc2c;
        border-radius: 4px;
        height: 2.5em;
      }
      & .firstName {
        width: 49%;
        position: relative;
        & input {
          width: 100%;
          margin-top: 1em;
          padding: 0.5em;
        }
      }
      & .lastName {
        width: 49%;
        position: relative;
        & input {
          width: 100%;
          margin-top: 1em;
          padding: 0.5em;
        }
      }
      & .email {
        width: 100%;
        position: relative;
        & input {
          width: 100%;
          margin-top: 1em;
          padding: 0.5em;
        }
      }

      & .mobileNumber {
        width: 100%;
        position: relative;
        margin-bottom: 2em;
        & input {
          width: 100%;
          margin-top: 1em;
          padding: 0.5em;
        }
      }
      & .myPreference {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      & .contactoptions {
        display: flex;
      }
      & .emailoption {
        width: 50%;
        position: relative;
        & input {
          vertical-align: middle;
          appearance: none;
          border: none;
        }
        & label {
          vertical-align: middle;
          margin-left: 2em;
          & :hover {
            cursor: pointer;
          }
          & h4 {
            display: inline-block;
          }
        }
        & span {
          position: absolute;
          top: 7px;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: white;
          border: solid 2px #fdbc2c;
          vertical-align: middle;
          border-radius: 5px;
        }
        & span:after {
          content: "";
          top: 1px;
          left: 1px;
          color: rgb(245, 236, 236);
          display: block;
          width: 8px;
          height: 8px;
        }
        & input:checked ~ span {
          background-color: rgb(249, 242, 242);
        }
        & input:checked ~ span:after {
          content: "✔";
          top: 1px;
          left: 5px;
          color: rgb(4, 4, 4);
          display: block;
          width: 8px;
          height: 8px;
          position: absolute;
        }
      }
      & .smsoption {
        width: 50%;
        position: relative;
        & h4 {
          display: inline-block;
          margin-left: 1em;
        }
        & input {
          vertical-align: middle;
          appearance: none;
          border: none;
        }
        & label {
          & :hover {
            cursor: pointer;
          }
          vertical-align: middle;
          margin-left: 1em;
        }
        & span {
          position: absolute;
          top: 7px;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: white;
          border: solid 2px #fdbc2c;
          vertical-align: middle;
          border-radius: 5px;
        }
        & span:after {
          content: "";
          top: 1px;
          left: 1px;
          color: rgb(245, 236, 236);
          display: block;
          width: 8px;
          height: 8px;
        }
        & input:checked ~ span {
          background-color: rgb(249, 242, 242);
        }
        & input:checked ~ span:after {
          content: "✔";
          top: 1px;
          left: 5px;
          color: rgb(4, 4, 4);
          display: block;
          width: 8px;
          height: 8px;
          position: absolute;
        }
      }
      & .cancel {
        width: 34%;
        & input {
          width: 100%;
          height: 3em;
          border: solid 2px rgb(215, 19, 19);
          color: rgb(215, 19, 19);
          font-weight: bolder;
          font-size: 1em;
          background-color: rgb(243, 231, 231);
        }
        & :hover {
          color: rgb(243, 231, 231);
          background-color: rgb(215, 19, 19);
          transition: 0.2s;
          font-weight: bold;
          cursor: pointer;
        }
      }
      & .update {
        width: 64%;
        margin-bottom: 2em;
        & input {
          width: 100%;
          height: 3em;
          background-color: rgb(73, 174, 73);
          border: solid 2px rgb(73, 174, 73);
          color: whitesmoke;
          font-weight: bolder;
          font-size: 1em;
        }
        & :hover {
          color: rgb(243, 231, 231);
          background-color: rgb(39, 104, 39);
          border: solid 2px rgb(39, 104, 39);
          transition: 0.2s;
          cursor: pointer;
        }
      }
      & .myAddress {
        display: flex;
        justify-content: space-between;
        & .deliveryAddress {
          position: relative;
        }
        & input {
          vertical-align: middle;
          appearance: none;
          border: none;
        }
        & label {
          vertical-align: middle;
          margin-left: 1em;
          & :hover {
            cursor: pointer;
          }
          & h4 {
            display: inline-block;
            margin-top: 0.5em;
            margin-left: 1em;
            color: rgb(240, 235, 235);
            vertical-align: middle;
            width: 10em;
          }
          & span {
            position: absolute;
            top: 7px;
            left: 0;
            height: 22px;
            width: 22px;
            background-color: white;
            border: solid 1px rgb(48, 46, 46);
            vertical-align: middle;
            border-radius: 50%;
          }
          & span:after {
            content: "";
            top: 1px;
            left: 1px;
            color: #fdbc2c;
            width: 8px;
            height: 8px;
          }
          & input:checked ~ span {
            background-color: white;
          }
          & input:checked ~ span:after {
            content: "";
            top: 3px;
            left: 3px;
            border: solid 7px rgb(2, 2, 2);
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            border-radius: 50%;
          }
        }
        & .removeButton {
          text-align: right;
          & input {
            border: solid 2px rgb(215, 19, 19);
            background-color: rgb(215, 19, 19);
            color: rgb(245, 245, 245);
            font-weight: bold;
            width: 40%;
            padding: 0.5em;
          }
          & :hover {
            color: rgb(243, 231, 231);
            border: solid 2px rgb(142, 10, 10);
            background-color: rgb(142, 10, 10);
            transition: 0.2s;
            cursor: pointer;
          }
        }
      }
      & .mystore {
        display: flex;
        justify-content: space-between;
        & .deliverystore {
          position: relative;
        }
        & input {
          vertical-align: middle;
          appearance: none;
          border: none;
        }
        & label {
          vertical-align: middle;
          margin-left: 1em;
          & :hover {
            cursor: pointer;
          }
          & h4 {
            display: inline-block;
            margin-top: 0.5em;
            margin-left: 1em;
            color: rgb(240, 235, 235);
            vertical-align: middle;
            width: 10em;
          }
          & span {
            position: absolute;
            top: 7px;
            left: 0;
            height: 22px;
            width: 22px;
            background-color: white;
            border: solid 1px rgb(48, 46, 46);
            vertical-align: middle;
            border-radius: 50%;
          }
          & span:after {
            content: "";
            top: 1px;
            left: 1px;
            color: rgb(245, 236, 236);
            display: block;
            width: 8px;
            height: 8px;
          }
          & input:checked ~ span {
            background-color: white;
          }
          & input:checked ~ span:after {
            content: "";
            top: 3px;
            left: 3px;
            border: solid 7px rgb(2, 2, 2);
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            border-radius: 50%;
          }
        }
        & .removeButton {
          text-align: right;
          & input {
            border: solid 2px rgb(215, 19, 19);
            background-color: rgb(215, 19, 19);
            color: rgb(245, 245, 245);
            font-weight: bold;
            width: 40%;
            padding: 0.5em;
          }
          & :hover {
            color: rgb(243, 231, 231);
            border: solid 2px rgb(142, 10, 10);
            background-color: rgb(142, 10, 10);
            transition: 0.2s;
            cursor: pointer;
          }
        }
      }
      & .selectaddress {
        position: relative;
        height: 2.5em;
        margin-top: 1em;
        margin-bottom: 1em;
        & input {
          width: 100%;
          padding: 0.5em;
          border-right: none;
        }
        & button {
          width: 20%;
          height: 2.5em;
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 0 4px 4px 0;
          border: solid 2px rgb(73, 174, 73);
          border-left: none;
          background-color: rgb(73, 174, 73);
          color: rgb(245, 245, 245);
          font-weight: bold;
        }
        & button:hover {
          background-color: rgb(39, 104, 39);
          border: solid 2px rgb(39, 104, 39);
          transition: 0.2s;
          cursor: pointer;
        }
      }
      & .ordertype {
        display: flex;
      }
      & .delivery {
        position: relative;

        & input {
          vertical-align: middle;
          appearance: none;
          border: none;
        }
        & label {
          vertical-align: middle;
          margin-left: 1em;
          & :hover {
            cursor: pointer;
          }
          & h4 {
            display: inline-block;
            margin-left: 1em;
          }
          & span {
            position: absolute;
            top: 7px;
            left: 0;
            height: 22px;
            width: 22px;
            background-color: white;
            border: solid 1px rgb(48, 46, 46);
            vertical-align: middle;
            border-radius: 50%;
          }
          & span:after {
            content: "";
            top: 1px;
            left: 1px;
            color: rgb(250, 249, 249);
            display: block;
            width: 8px;
            height: 8px;
          }
          & input:checked ~ span {
            background-color: white;
          }
          & input:checked ~ span:after {
            content: "";
            top: 3px;
            left: 3px;
            border: solid 7px rgb(2, 2, 2);
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            border-radius: 50%;
          }
        }
      }

      & .pickup {
        position: relative;
        & input {
          vertical-align: middle;
          appearance: none;
          border: none;
        }
        & label {
          vertical-align: middle;
          margin-left: 1em;
          & :hover {
            cursor: pointer;
          }
          & h4 {
            display: inline-block;
            margin-left: 1em;
          }
          & span {
            position: absolute;
            top: 7px;
            left: 0;
            height: 22px;
            width: 22px;
            background-color: white;
            border: solid 1px rgb(48, 46, 46);
            vertical-align: middle;
            border-radius: 50%;
          }
          & span:after {
            content: "";
            top: 1px;
            left: 1px;
            color: rgb(250, 249, 249);
            display: block;
            width: 8px;
            height: 8px;
          }
          & input:checked ~ span {
            background-color: white;
          }
          & input:checked ~ span:after {
            content: "";
            top: 3px;
            left: 3px;
            border: solid 7px rgb(2, 2, 2);
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
