@mixin desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dashboard {
  width: 100%;
  height: 135em;
  background-image: url("../../../images/Pizza-bg.png");
  background-size: cover;
  line-height: 1.5em;
  @include mobile {
    height: 145em;
  }
  & h3 {
    font-size: 30px;
    color: #fdbc2c;
    @include pad {
      font-size: 1.5em;
    }
  }
  & section {
    width: 100%;
  }
  & form {
    width: 80%;
    margin-top: 1em;
    @include pad {
      width: 80%;
    }
    @include mobile {
      width: 80%;
    }
  }
  & .form {
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
    @include mobile {
      display: table;
    }
    & .userbar {
      width: 40%;
      display: flex;
      justify-content: center;
      @include mobile {
        width: 100%;
      }
    }
    & .mydetails {
      color: #ffffff;
      width: 80%;
      display: flex;
      justify-content: center;
      @include mobile {
        width: 100%;
      }
      & hr {
        border: solid 2px #d94f2b;
      }
      & .userName {
        display: flex;
        justify-content: space-between;
        @include pad {
          width: 100%;
          display: table;
        }
        & input {
          margin-top: 1em;
        }
      }
      & input {
        border: solid 2px #ffffff;
        border-radius: 4px;
        height: 2.5em;
        background-color: transparent;
      }
      & .firstName {
        width: 49%;
        position: relative;
        @include pad {
          width: 100%;
          margin-bottom: 1em;
        }
        & input {
          width: 100%;
          margin-top: 1em;
          padding: 0.5em;
        }
      }
      & .lastName {
        width: 49%;
        position: relative;
        @include pad {
          width: 100%;
        }
        & input {
          width: 100%;
          margin-top: 1em;
          padding: 0.5em;
        }
      }
      & .email {
        width: 100%;
        position: relative;
        & input {
          width: 100%;
          margin-top: 1em;
          padding: 0.5em;
        }
      }

      & .mobileNumber {
        width: 100%;
        position: relative;
        margin-bottom: 2em;
        & input {
          width: 100%;
          margin-top: 1em;
          padding: 0.5em;
        }
      }
      & .myPreference {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__successMsg {
          width: 100%;
          margin: 20px auto;
          text-align: center;
        }
      }
      & .myAddr {
        &__noContent {
          text-align: center;
          margin: 10px 0;
        }
      }
      & .contactoptions {
        display: flex;
      }
      & .emailoption {
        width: 50%;
        position: relative;
        & input {
          vertical-align: middle;
          appearance: none;
          border: none;
        }
        & label {
          vertical-align: middle;
          margin-left: 2em;
          @include pad {
            margin-left: 1.5em;
          }
          & :hover {
            cursor: pointer;
          }
          & h4 {
            display: inline-block;
          }
        }
        & span {
          position: absolute;
          top: 7px;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: transparent;
          border: solid 2px #ffffff;
          vertical-align: middle;
          border-radius: 5px;
          @include pad {
            width: 20px;
            height: 20px;
          }
        }
        & span:after {
          content: "";
          top: 1px;
          left: 1px;
          color: #ffffff;
          display: block;
          width: 8px;
          height: 8px;
          @include pad {
            width: 4px;
            height: 4px;
          }
        }
        & input:checked ~ span {
          border: solid 2px #FDBC2C;
        }
        & input:checked ~ span:after {
          content: "✔";
          top: 1px;
          left: 5px;
          color: #fdbc2c;
          display: block;
          width: 8px;
          height: 8px;
          position: absolute;
          @include pad {
            width: 4px;
            height: 4px;
            top: -3px;
            left: 2px;
          }
        }
        & input:checked ~ h4 {
          color: #FDBC2C;
        }
      }
      & .smsoption {
        width: 50%;
        position: relative;
        & h4 {
          display: inline-block;
          margin-left: 1em;
          @include pad {
            margin-left: 0.5em;
          }
        }
        & input {
          vertical-align: middle;
          appearance: none;
          border: none;
        }
        & label {
          & :hover {
            cursor: pointer;
          }
          vertical-align: middle;
          margin-left: 1em;
        }
        & span {
          position: absolute;
          top: 7px;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: transparent;
          border: solid 2px #ffffff;
          vertical-align: middle;
          border-radius: 5px;
          @include pad {
            width: 20px;
            height: 20px;
          }
        }
        & span:after {
          content: "";
          top: 1px;
          left: 1px;
          color: #ffffff;
          display: block;
          width: 8px;
          height: 8px;
        }
        & input:checked ~ span {
          border: solid 2px #FDBC2C;
        }
        & input:checked ~ span:after {
          content: "✔";
          top: 1px;
          left: 5px;
          color: #FDBC2C;
          display: block;
          width: 8px;
          height: 8px;
          position: absolute;
          @include pad {
            width: 4px;
            height: 4px;
            top: -3px;
            left: 2px;
          }
        }
        & input:checked ~ h4 {
          color: #FDBC2C;
        }
      }
      & .cancel {
        width: 34%;
        & input {
          width: 100%;
          height: 3em;
          border: solid 2px rgb(215, 19, 19);
          color: rgb(215, 19, 19);
          font-weight: bolder;
          font-size: 1em;
          background-color: #ffffff;
          @include pad {
            height: 2em;
            font-weight: normal;
          }
        }
        & :hover {
          color: #ffffff;
          background-color: rgb(215, 19, 19);
          transition: 0.2s;
          font-weight: bold;
          cursor: pointer;
        }
      }
      & .update {
        width: 64%;
        margin-bottom: 2em;
        & input {
          width: 100%;
          height: 3em;
          background-color: rgb(73, 174, 73);
          border: solid 2px rgb(73, 174, 73);
          color: #ffffff;
          font-weight: bolder;
          font-size: 1em;
          @include pad {
            height: 2em;
            font-weight: normal;
          }
        }
        & :hover {
          color: #ffffff;
          background-color: rgb(39, 104, 39);
          border: solid 2px rgb(39, 104, 39);
          transition: 0.2s;
          cursor: pointer;
        }
      }
      & .myAddress {
        display: flex;
        justify-content: space-between;
        & .deliveryAddress {
          position: relative;
        }
        & input {
          vertical-align: middle;
          appearance: none;
          border: none;
        }
        & label {
          vertical-align: middle;
          margin-left: 1em;
          @include pad {
            font-size: 0.8em;
            margin-left: 0.8em;
          }
          & :hover {
            cursor: pointer;
          }
          & h4 {
            display: inline-block;
            margin-top: 0.5em;
            margin-left: 1em;
            color: #ffffff;
            vertical-align: middle;
            width: 10em;
            @include pad {
              width: 8em;
            }
          }
          & span {
            position: absolute;
            top: 7px;
            left: 0;
            height: 22px;
            width: 22px;
            background-color: transparent;
            border: solid 2px #ffffff;
            vertical-align: middle;
            border-radius: 50%;
            @include pad {
              height: 18px;
              width: 18px;
            }
          }
          & span:after {
            content: "";
            top: 1px;
            left: 1px;
            color: #d94f2b;
            width: 8px;
            height: 8px;
            @include pad {
              width: 6px;
              height: 6px;
            }
          }
          & input:checked ~ span {
            border: solid 2px #FDBC2C ;
          }
          & input:checked ~ span:after {
            content: "";
            top: 2px;
            left: 2px;
            border: solid 7px #FDBC2C;
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            border-radius: 50%;
            @include pad {
              width: 3px;
              height: 3px;
              border: solid 5px rgb(2, 2, 2);
            }
          }
          & input:checked ~ h4 {
            color: #FDBC2C;
          }
        }
        & .removeButton {
          text-align: right;
          @include desktop {
            font-size: 13px;
          }
          @include pad {
          }
          & input {
            border: solid 2px rgb(215, 19, 19);
            background-color: rgb(215, 19, 19);
            color: #ffffff;
            font-weight: bold;
            width: 80%;
            padding: 0.5em;
            @include pad {
              width: 75%;
            }
          }
          & :hover {
            color: #ffffff;
            border: solid 2px rgb(142, 10, 10);
            background-color: rgb(142, 10, 10);
            transition: 0.2s;
            cursor: pointer;
          }
        }
      }
      & .mystore {
        display: flex;
        justify-content: space-between;
        & .deliverystore {
          position: relative;
        }
        & input {
          vertical-align: middle;
          appearance: none;
          border: none;
        }
        & label {
          vertical-align: middle;
          margin-left: 1em;
          @include pad {
            font-size: 0.8em;
            margin-left: 0.8em;
          }
          & :hover {
            cursor: pointer;
          }
          & h4 {
            display: inline-block;
            margin-top: 0.5em;
            margin-left: 1em;
            color: #ffffff;
            vertical-align: middle;
            width: 10em;
            @include pad {
              width: 8em;
            }
          }
          & span {
            position: absolute;
            top: 7px;
            left: 0;
            height: 22px;
            width: 22px;
            background-color: transparent;
            border: solid 2px #ffffff;
            vertical-align: middle;
            border-radius: 50%;
            @include pad {
              width: 18px;
              height: 18px;
            }
          }
          & span:after {
            content: "";
            top: 1px;
            left: 1px;
            color: #ffffff;
            display: block;
            width: 8px;
            height: 8px;
          }
          & input:checked ~ span {
            background-color: transparent;
            border: solid 2px #FDBC2C;
          }
          & input:checked ~ span:after {
            content: "";
            top: 2px;
            left: 2px;
            border: solid 7px #FDBC2C;
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            border-radius: 50%;
            @include pad {
              width: 3px;
              height: 3px;
              border: solid 5px rgb(2, 2, 2);
            }
          }
          & input:checked ~ h4 {
            color: #FDBC2C;
          }
        }
        & .removeButton {
          text-align: right;
          @include desktop {
            font-size: 13px;
          }
          @include pad {
          }
          & input {
            border: solid 2px rgb(215, 19, 19);
            background-color: rgb(215, 19, 19);
            color: #ffffff;
            font-weight: bold;
            width: 40%;
            padding: 0.5em;
            @include pad {
              width: 75%;
            }
          }
          & :hover {
            color: #ffffff;
            border: solid 2px rgb(142, 10, 10);
            background-color: rgb(142, 10, 10);
            transition: 0.2s;
            cursor: pointer;
          }
        }
      }
      & .selectaddress {
        position: relative;
        height: 2.5em;
        margin-top: 1em;
        margin-bottom: 1em;
        & input {
          width: 100%;
          padding: 0.5em;
          border-right: none;
        }
        & button {
          width: 20%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 0 4px 4px 0;
          border: solid 2px #ffffff;
          border-left: none;
          background-color: rgb(73, 174, 73);
          color: #ffffff;
          font-weight: bold;
          @include desktop {
            font-size: 13px;
          }
        }
        & button:hover {
          background-color: rgb(39, 104, 39);
          border: solid 2px #ffffff;
          border-left: none;
          transition: 0.2s;
          cursor: pointer;
        }
      }
      & .ordertype {
        display: flex;
      }
      & .delivery {
        position: relative;

        & input {
          vertical-align: middle;
          appearance: none;
          border: none;
        }
        & label {
          vertical-align: middle;
          margin-left: 1em;
          & :hover {
            cursor: pointer;
          }
          & h4 {
            display: inline-block;
            margin-left: 1em;
          }
          & span {
            position: absolute;
            top: 7px;
            left: 0;
            height: 22px;
            width: 22px;
            background-color: transparent;
            border: solid 2px #ffffff;
            vertical-align: middle;
            border-radius: 50%;
            @include pad {
              width: 18px;
              height: 18px;
            }
          }
          & span:after {
            content: "";
            top: 1px;
            left: 1px;
            color: #ffffff;
            display: block;
            width: 8px;
            height: 8px;
          }
          & input:checked ~ span {
            border: solid 2px #FDBC2C;
          }
          & input:checked ~ span:after {
            content: "";
            top: 2px;
            left: 2px;
            border: solid 7px #FDBC2C;
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            border-radius: 50%;
            @include pad {
              width: 3px;
              height: 3px;
              border: solid 5px rgb(2, 2, 2);
            }
          }
          & input:checked ~ h4 {
            color: #FDBC2C;
          }
        }
      }

      & .pickup {
        position: relative;
        & input {
          vertical-align: middle;
          appearance: none;
          border: none;
        }
        & label {
          vertical-align: middle;
          margin-left: 1em;
          & :hover {
            cursor: pointer;
          }
          & h4 {
            display: inline-block;
            margin-left: 1em;
          }
          & span {
            position: absolute;
            top: 7px;
            left: 0;
            height: 22px;
            width: 22px;
            background-color: transparent;
            border: solid 2px #ffffff;
            vertical-align: middle;
            border-radius: 50%;
            @include pad {
              width: 18px;
              height: 18px;
            }
          }
          & span:after {
            content: "";
            top: 1px;
            left: 1px;
            color: #ffffff;
            display: block;
            width: 8px;
            height: 8px;
          }
          & input:checked ~ span {
            border: solid 2px #FDBC2C;
          }
          & input:checked ~ span:after {
            content: "";
            top: 2px;
            left: 2px;
            border: solid 7px #FDBC2C;
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            border-radius: 50%;
            @include pad {
              width: 3px;
              height: 3px;
              border: solid 5px rgb(2, 2, 2);
            }
          }
          & input:checked ~ h4 {
            color: #FDBC2C;
          }
        }
      }
    }
  }
}
