@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dashboard {
  width: 100%;
  height: 130em;
  background-image: url("../../../images/Pizza-bg.png");
  line-height: 1.5em;
}

.dashboard h3 {
  font-weight: bold;
  font-size: 20px;
}

.dashboard section {
  width: 100%;
}

.dashboard form {
  width: 80%;
  margin-top: 1em;
}

.dashboard .form {
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
}

.dashboard .form .userbar {
  width: 40%;
  display: flex;
  justify-content: center;
  margin-left: 3em;
}

.dashboard .form .mydetails {
  color: #fdbc2c;
  width: 90%;
  display: flex;
  justify-content: center;
}

.dashboard .form .mydetails hr {
  border: solid 1px #fdbc2c;
}

.dashboard .form .mydetails .userName {
  display: flex;
  justify-content: space-between;
}

.dashboard .form .mydetails .userName input {
  margin-top: 1em;
}

.dashboard .form .mydetails input {
  border: solid 2px #fdbc2c;
  border-radius: 4px;
  height: 2.5em;
}

.dashboard .form .mydetails .firstName {
  width: 49%;
  position: relative;
}

.dashboard .form .mydetails .firstName input {
  width: 100%;
  margin-top: 1em;
  padding: 0.5em;
}

.dashboard .form .mydetails .lastName {
  width: 49%;
  position: relative;
}

.dashboard .form .mydetails .lastName input {
  width: 100%;
  margin-top: 1em;
  padding: 0.5em;
}

.dashboard .form .mydetails .email {
  width: 100%;
  position: relative;
}

.dashboard .form .mydetails .email input {
  width: 100%;
  margin-top: 1em;
  padding: 0.5em;
}

.dashboard .form .mydetails .mobileNumber {
  width: 100%;
  position: relative;
  margin-bottom: 2em;
}

.dashboard .form .mydetails .mobileNumber input {
  width: 100%;
  margin-top: 1em;
  padding: 0.5em;
}

.dashboard .form .mydetails .myPreference {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dashboard .form .mydetails .contactoptions {
  display: flex;
}

.dashboard .form .mydetails .emailoption {
  width: 50%;
  position: relative;
}

.dashboard .form .mydetails .emailoption input {
  vertical-align: middle;
  appearance: none;
  border: none;
}

.dashboard .form .mydetails .emailoption label {
  vertical-align: middle;
  margin-left: 2em;
}

.dashboard .form .mydetails .emailoption label :hover {
  cursor: pointer;
}

.dashboard .form .mydetails .emailoption label h4 {
  display: inline-block;
}

.dashboard .form .mydetails .emailoption span {
  position: absolute;
  top: 7px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: solid 2px #fdbc2c;
  vertical-align: middle;
  border-radius: 5px;
}

.dashboard .form .mydetails .emailoption span:after {
  content: "";
  top: 1px;
  left: 1px;
  color: #f5ecec;
  display: block;
  width: 8px;
  height: 8px;
}

.dashboard .form .mydetails .emailoption input:checked ~ span {
  background-color: #f9f2f2;
}

.dashboard .form .mydetails .emailoption input:checked ~ span:after {
  content: "✔";
  top: 1px;
  left: 5px;
  color: #040404;
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
}

.dashboard .form .mydetails .smsoption {
  width: 50%;
  position: relative;
}

.dashboard .form .mydetails .smsoption h4 {
  display: inline-block;
  margin-left: 1em;
}

.dashboard .form .mydetails .smsoption input {
  vertical-align: middle;
  appearance: none;
  border: none;
}

.dashboard .form .mydetails .smsoption label {
  vertical-align: middle;
  margin-left: 1em;
}

.dashboard .form .mydetails .smsoption label :hover {
  cursor: pointer;
}

.dashboard .form .mydetails .smsoption span {
  position: absolute;
  top: 7px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: solid 2px #fdbc2c;
  vertical-align: middle;
  border-radius: 5px;
}

.dashboard .form .mydetails .smsoption span:after {
  content: "";
  top: 1px;
  left: 1px;
  color: #f5ecec;
  display: block;
  width: 8px;
  height: 8px;
}

.dashboard .form .mydetails .smsoption input:checked ~ span {
  background-color: #f9f2f2;
}

.dashboard .form .mydetails .smsoption input:checked ~ span:after {
  content: "✔";
  top: 1px;
  left: 5px;
  color: #040404;
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
}

.dashboard .form .mydetails .cancel {
  width: 34%;
}

.dashboard .form .mydetails .cancel input {
  width: 100%;
  height: 3em;
  border: solid 2px #d71313;
  color: #d71313;
  font-weight: bolder;
  font-size: 1em;
  background-color: #f3e7e7;
}

.dashboard .form .mydetails .cancel :hover {
  color: #f3e7e7;
  background-color: #d71313;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}

.dashboard .form .mydetails .update {
  width: 64%;
  margin-bottom: 2em;
}

.dashboard .form .mydetails .update input {
  width: 100%;
  height: 3em;
  background-color: #49ae49;
  border: solid 2px #49ae49;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 1em;
}

.dashboard .form .mydetails .update :hover {
  color: #f3e7e7;
  background-color: #276827;
  border: solid 2px #276827;
  transition: 0.2s;
  cursor: pointer;
}

.dashboard .form .mydetails .myAddress {
  display: flex;
  justify-content: space-between;
}

.dashboard .form .mydetails .myAddress .deliveryAddress {
  position: relative;
}

.dashboard .form .mydetails .myAddress input {
  vertical-align: middle;
  appearance: none;
  border: none;
}

.dashboard .form .mydetails .myAddress label {
  vertical-align: middle;
  margin-left: 1em;
}

.dashboard .form .mydetails .myAddress label :hover {
  cursor: pointer;
}

.dashboard .form .mydetails .myAddress label h4 {
  display: inline-block;
  margin-top: 0.5em;
  margin-left: 1em;
  color: #f0ebeb;
  vertical-align: middle;
  width: 10em;
}

.dashboard .form .mydetails .myAddress label span {
  position: absolute;
  top: 7px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border: solid 1px #302e2e;
  vertical-align: middle;
  border-radius: 50%;
}

.dashboard .form .mydetails .myAddress label span:after {
  content: "";
  top: 1px;
  left: 1px;
  color: #fdbc2c;
  width: 8px;
  height: 8px;
}

.dashboard .form .mydetails .myAddress label input:checked ~ span {
  background-color: white;
}

.dashboard .form .mydetails .myAddress label input:checked ~ span:after {
  content: "";
  top: 3px;
  left: 3px;
  border: solid 7px #020202;
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
}

.dashboard .form .mydetails .myAddress .removeButton {
  text-align: right;
}

.dashboard .form .mydetails .myAddress .removeButton input {
  border: solid 2px #d71313;
  background-color: #d71313;
  color: whitesmoke;
  font-weight: bold;
  width: 40%;
  padding: 0.5em;
}

.dashboard .form .mydetails .myAddress .removeButton :hover {
  color: #f3e7e7;
  border: solid 2px #8e0a0a;
  background-color: #8e0a0a;
  transition: 0.2s;
  cursor: pointer;
}

.dashboard .form .mydetails .mystore {
  display: flex;
  justify-content: space-between;
}

.dashboard .form .mydetails .mystore .deliverystore {
  position: relative;
}

.dashboard .form .mydetails .mystore input {
  vertical-align: middle;
  appearance: none;
  border: none;
}

.dashboard .form .mydetails .mystore label {
  vertical-align: middle;
  margin-left: 1em;
}

.dashboard .form .mydetails .mystore label :hover {
  cursor: pointer;
}

.dashboard .form .mydetails .mystore label h4 {
  display: inline-block;
  margin-top: 0.5em;
  margin-left: 1em;
  color: #f0ebeb;
  vertical-align: middle;
  width: 10em;
}

.dashboard .form .mydetails .mystore label span {
  position: absolute;
  top: 7px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border: solid 1px #302e2e;
  vertical-align: middle;
  border-radius: 50%;
}

.dashboard .form .mydetails .mystore label span:after {
  content: "";
  top: 1px;
  left: 1px;
  color: #f5ecec;
  display: block;
  width: 8px;
  height: 8px;
}

.dashboard .form .mydetails .mystore label input:checked ~ span {
  background-color: white;
}

.dashboard .form .mydetails .mystore label input:checked ~ span:after {
  content: "";
  top: 3px;
  left: 3px;
  border: solid 7px #020202;
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
}

.dashboard .form .mydetails .mystore .removeButton {
  text-align: right;
}

.dashboard .form .mydetails .mystore .removeButton input {
  border: solid 2px #d71313;
  background-color: #d71313;
  color: whitesmoke;
  font-weight: bold;
  width: 40%;
  padding: 0.5em;
}

.dashboard .form .mydetails .mystore .removeButton :hover {
  color: #f3e7e7;
  border: solid 2px #8e0a0a;
  background-color: #8e0a0a;
  transition: 0.2s;
  cursor: pointer;
}

.dashboard .form .mydetails .selectaddress {
  position: relative;
  height: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.dashboard .form .mydetails .selectaddress input {
  width: 100%;
  padding: 0.5em;
  border-right: none;
}

.dashboard .form .mydetails .selectaddress button {
  width: 20%;
  height: 2.5em;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 4px 4px 0;
  border: solid 2px #49ae49;
  border-left: none;
  background-color: #49ae49;
  color: whitesmoke;
  font-weight: bold;
}

.dashboard .form .mydetails .selectaddress button:hover {
  background-color: #276827;
  border: solid 2px #276827;
  transition: 0.2s;
  cursor: pointer;
}

.dashboard .form .mydetails .ordertype {
  display: flex;
}

.dashboard .form .mydetails .delivery {
  position: relative;
}

.dashboard .form .mydetails .delivery input {
  vertical-align: middle;
  appearance: none;
  border: none;
}

.dashboard .form .mydetails .delivery label {
  vertical-align: middle;
  margin-left: 1em;
}

.dashboard .form .mydetails .delivery label :hover {
  cursor: pointer;
}

.dashboard .form .mydetails .delivery label h4 {
  display: inline-block;
  margin-left: 1em;
}

.dashboard .form .mydetails .delivery label span {
  position: absolute;
  top: 7px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border: solid 1px #302e2e;
  vertical-align: middle;
  border-radius: 50%;
}

.dashboard .form .mydetails .delivery label span:after {
  content: "";
  top: 1px;
  left: 1px;
  color: #faf9f9;
  display: block;
  width: 8px;
  height: 8px;
}

.dashboard .form .mydetails .delivery label input:checked ~ span {
  background-color: white;
}

.dashboard .form .mydetails .delivery label input:checked ~ span:after {
  content: "";
  top: 3px;
  left: 3px;
  border: solid 7px #020202;
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
}

.dashboard .form .mydetails .pickup {
  position: relative;
}

.dashboard .form .mydetails .pickup input {
  vertical-align: middle;
  appearance: none;
  border: none;
}

.dashboard .form .mydetails .pickup label {
  vertical-align: middle;
  margin-left: 1em;
}

.dashboard .form .mydetails .pickup label :hover {
  cursor: pointer;
}

.dashboard .form .mydetails .pickup label h4 {
  display: inline-block;
  margin-left: 1em;
}

.dashboard .form .mydetails .pickup label span {
  position: absolute;
  top: 7px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border: solid 1px #302e2e;
  vertical-align: middle;
  border-radius: 50%;
}

.dashboard .form .mydetails .pickup label span:after {
  content: "";
  top: 1px;
  left: 1px;
  color: #faf9f9;
  display: block;
  width: 8px;
  height: 8px;
}

.dashboard .form .mydetails .pickup label input:checked ~ span {
  background-color: white;
}

.dashboard .form .mydetails .pickup label input:checked ~ span:after {
  content: "";
  top: 3px;
  left: 3px;
  border: solid 7px #020202;
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
}
