* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fredericka-the-Great';
  src: local("Fredericka-the-Great"), url(../../font//Fredericka-the-Great.ttf) format("opentype");
}

@font-face {
  font-family: 'JosefinSans-Regular';
  src: local("JosefinSans-Regular"), url(../../font/JosefinSans-Regular.ttf) format("opentype");
}

.Checkout {
  width: 100%;
}

.Checkout .navigation {
  min-width: 350px;
  height: 400px;
  background-image: url("../../images/pizza-header.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Checkout .navigation .container {
  text-align: center;
}

.Checkout .navigation .container__title h2 {
  font-size: 60px;
  color: #FFFFFF;
  font-family: 'Fredericka-the-Great';
  margin-bottom: 20px;
}

.Checkout .navigation .container__navBar {
        display: flex;
        justify-content: center;
        font-family: 'JosefinSans-Regular';
        
}

.Checkout .navigation .container__navBar--content {
  position: relative;
  width: auto;
  height: 40px;
  color: #FDBC2C;
  border: 2px solid #FDBC2C;
  border-left: none;
  border-right: none;
  text-align: center;
  font-size: 15px;
  padding: 10px 50px 0px 50px;
}

.Checkout .navigation .container__navBar--content:before, .Checkout .navigation .container__navBar--content:after {
  content: "";
  position: absolute;
  top: 3.75px;
  width: 27px;
  height: 27px;
  transform: rotate(45deg);
}

.Checkout .navigation .container__navBar--content:before {
  left: -12px;
  border-top: 2px solid #FDBC2C;
  border-left: 0px solid #FDBC2C;
  border-bottom: 0px solid #FDBC2C;
  border-right: 2px solid #FDBC2C;
}

.Checkout .navigation .container__navBar--content:after {
  right: -12px;
  border-top: 0px solid #FDBC2C;
  border-left: 2px solid #FDBC2C;
  border-bottom: 2px solid #FDBC2C;
  border-right: 0px solid #FDBC2C;
}
