@import "./normalize.css";
@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?s005lk");
  src: url("fonts/icomoon.eot?s005lk#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?s005lk") format("truetype"),
    url("fonts/icomoon.woff?s005lk") format("woff"),
    url("fonts/icomoon.svg?s005lk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$wrap-width: 72%;
$this-yellow: #fdbc2c;
$this-red: #d94f2b;

* {
  text-decoration: none;
}

.about {
  max-width: 1920px;
  min-width: 750px;
  margin: 0 auto;
  background: url(../img/Background.png) no-repeat center top;

  //front page***********************************
  .frontPage {
    position: relative;
    width: 100%;
    height: 389px;
    background: url(../../../images/pizza-header.jpg) center top no-repeat;
    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: "Fredericka the Great", cursive;
      font-size: 72px;
      color: #fff;
      line-height: 90px;
    }
    ul {
      position: absolute;
      left: 50%;
      top: 70%;
      padding-left: 24px;
      width: 182px;
      height: 36px;
      transform: translate(-50%, -50%);
      background: url(../../../images/bread-crumb-border.png) left top;

      li {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        margin-top: 10px;
        font-family: "Josefin Sans", sans-serif;
        font-size: 18px;
      }
      li:first-child::after {
        position: absolute;
        top: 5px;
        left: 53px;
        height: 5px;
        width: 5px;
        border-top: 1px solid #fdbc2c;
        border-right: 1px solid #fdbc2c;
        content: "";
        transform: rotate(45deg);
      }
    }
  }
  //rest page*****************************************
  .restPage {
    width: 100%;
    // border: 1px solid transparent;
  }
  //info section************
  .restPage_info {
    // background-color: yellowgreen;
    &_wrap {
      margin: 0 auto;
      width: $wrap-width;
    }
    &_top {
      margin-top: 50px;
      text-align: center;
      // background-color: #666;
      h2 {
        margin-bottom: 60px;
        font-family: "Abril Fatface", cursive;
        color: $this-yellow;
        font-size: 48px;
        // width: 1100px;
      }
      p {
        margin-bottom: 50px;
        font-family: "Josefin Sans", sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
        // width: 1200px;
      }
    }
    &_bottom {
      overflow: hidden;
      margin-bottom: 50px;

      li {
        float: left;
        padding: 0 10px;
        height: auto;
        width: 33%;
        .icon_leaf {
          width: 65px;
          height: 77px;
          background: url(../img/leaf.png) no-repeat center center;
        }
        .icon_badge {
          width: 65px;
          height: 77px;
          background: url(../img/badge.png) no-repeat center center;
        }
        .icon_rocket {
          width: 65px;
          height: 77px;
          background: url(../img/rocket.png) no-repeat center center;
        }
        h2 {
          margin: 40px 0;
          font-family: "Abril Fatface", cursive;
          color: $this-yellow;
          font-size: 36px;
        }
        p {
          font-family: "Josefin Sans", sans-serif;
          font-size: 18px;
          line-height: 30px;
          color: #fff;
        }
      }
    }
    &_last {
      margin-bottom: 50px;
      display: flex;
      h2 {
        margin-right: 20px;
        flex: 5;
        font-family: "Abril Fatface", cursive;
        color: $this-yellow;
        font-size: 36px;
        line-height: 48px;
      }
      main {
        flex: 6;
        font-family: "Josefin Sans", sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
  //display section**********
  .restPage_display {
    position: relative;
    height: 500px;
    width: 100%;
    background: url(../img/display_background.png) repeat-x 0 0;
    border: 1px solid transparent;
    font-family: "icomoon";
    .left_btn,
    .right_btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      width: 60px;
      height: 60px;
      line-height: 50px;
      text-align: center;
      border: 5px solid #fff;
      color: #fff;
      cursor: pointer;
    }
    .left_btn {
      left: 122px;
    }
    .right_btn {
      right: 122px;
    }
    &_wrap {
      margin: 0 auto;
      width: 68%;
      height: 500px;
      overflow: hidden;
      &_slider {
        width: 400%;
        height: 100%;
        // transform: translateX(-75%);
        transition: 1s ease;
        &_items {
          display: flex;
          width: 100%;
          height: 100%;
          // background-color: pink;
          &_item {
            margin-left: -1px;
            display: flex;
            width: 25%;
            height: 100%;
            article {
              margin-top: 30px;
              margin-left: 3px;

              flex: 3;
              min-width: 300px;
              max-width: 410px;
              height: 100%;
              h2 {
                margin-top: 30px;
                font-family: "Abril Fatface", cursive;
                font-size: 48px;
                color: #fff;
                text-align: center;
              }
              p {
                margin-top: 50px;
                font-family: "Josefin Sans", sans-serif;
                font-size: 18px;
                line-height: 30px;
                color: #fff;
              }
            }
            .placeHolder {
              flex: 1;
            }
            section {
              flex: 3;
              border: 8px solid black;
              width: 550px;
              min-width: 505px;
              height: 500px;
              // overflow: hidden;
            }
            img {
              display: block;
              height: 100%;
              margin: 0 auto;
              margin-top: -1px;
            }
          }
        }
      }
    }
  }
  //feedBack section************
  .restPage_feedBack {
    &_wrap {
      margin: 0 auto;
      width: 71%;
      text-align: center;
      overflow: hidden;
      h2 {
        margin-top: 120px;
        font-family: "Abril Fatface", cursive;
        color: $this-yellow;
        font-size: 48px;
      }
      p {
        margin-top: 60px;
        font-family: "Josefin Sans", sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
      }
      &_slider {
        width: 200%;
        transition: 1s ease;
        ul {
          margin-top: 90px;
          width: 100%;
          overflow: hidden;
          li {
            vertical-align: top;
            display: inline-block;
            padding-right: 10px;
            height: auto;
            width: 16.6%;
            mark {
              display: inline-block;
              width: 160px;
              height: 160px;
              background-color: $this-red;
              border-radius: 50%;
              overflow: hidden;
            }
            h4 {
              margin-top: 20px;
              font-family: "Abril Fatface", cursive;
              font-size: 24px;
              color: $this-yellow;
            }
            section {
              margin-top: 20px;

              font-size: 14px;
              line-height: 30px;
              color: $this-red;
            }
            p {
              border: 4px solid $this-red;
              height: 180px;
              margin: 0 auto;
              margin-top: 20px;
              padding: 20px 17px;
              font-family: "Fredericka the Great", cursive;
              font-size: 24px;
              line-height: 30px;
              color: #fff;
            }
            h5,
            a {
              text-decoration: none;
              font-family: "Josefin Sans", sans-serif;
              font-size: 18px;
              line-height: 15px;
            }
            h5 {
              margin-top: 20px;

              color: #fff;
            }
            a {
              display: inline-block;
              margin-top: 10px;
              color: $this-red;
            }
          }
        }
      }

      nav {
        margin: 55px;
        font-weight: 900;
        color: $this-red;
        line-height: 50px;
        font-family: "icomoon";
        .left_btn {
          display: inline-block;
          width: 60px;
          height: 60px;
          border: 5px solid$this-red;
          content: "\ea38";
          cursor: pointer;
        }
        .right_btn {
          margin-left: 20px;
          display: inline-block;
          width: 60px;
          height: 60px;
          border: 5px solid$this-red;
          content: "\ea34";
          cursor: pointer;
        }
      }
    }
  }

  //choices section************
  .restPage_choices {
    display: flex;
    margin: 100px 0;
    padding: 150px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 430px;
    background: url(../img/cover2.jpg) repeat-y left top;
    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 42px;
      text-align: center;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      border: 4px solid$this-red;
      h3 {
        font-family: "Fredericka the Great", cursive;
        font-size: 72px;
        color: #fff;
      }
      p {
        color: #fff;
        text-transform: uppercase;
        font-family: "Josefin Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
      }
    }
  }

  //questions section************
  .restPage_questions {
    height: auto;
    &_wrap {
      margin: 0 auto;
      width: $wrap-width;

      h2 {
        font-family: "Abril Fatface", cursive;
        color: #fdbc2c;
        font-size: 48px;
        text-align: center;
      }
      h5 {
        margin: 50px auto;
        font-family: "Josefin Sans", sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
        text-align: center;
      }
      li {
        position: relative;
        margin-top: -1px;
        height: 124px;
        font-family: "Abril Fatface", cursive;
        color: #fdbc2c;
        font-size: 24px;
        border-top: 1px solid #383838;
        border-bottom: 1px solid #383838;
        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 90%;
          line-height: 30px;
        }
        i {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          border: 2px solid #fff;
          height: 50px;
          width: 50px;
          line-height: 40px;
          text-align: center;
          font-size: 50px;
          border-radius: 50%;
          color: #fff;
          cursor: pointer;
        }
        main {
          margin: 124px 75px 80px 0;
          font-family: "Josefin Sans", sans-serif;
          font-size: 18px;
          line-height: 30px;
          color: #fff;
        }
      }
    }
  }

  //gallery section************
  .restPage_gallery {
    width: 100%;
    height: 888px;
    overflow: hidden;

    &_show {
      margin-top: 145px;
      display:flex;
      width: 200%;
      height: 282px;
      transition: 2s ease;
      img{
        flex:1;
      }
    }
    &_nav {
      position: relative;
      display: flex;
      margin: 150px auto;
      width: $wrap-width;
      height: 56px;
      border: 2px solid $this-red;
      text-transform: uppercase;
      .nav_right,
      .nav_left {
        flex: 1;
        font-family: "icomoon";
        color: $this-red;
        text-align: center;
        line-height: 52px;
        cursor: pointer;
      }
      h5 {
        flex: 8;
        height: 100%;
        font-family: "Josefin Sans", sans-serif;
        border-left: 2px solid $this-red;
        border-right: 2px solid $this-red;
        color: #fff;
        font-size: 14px;
        line-height: 56px;
        text-align: center;
        a {
          color: $this-red;
        }
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  .about {
    width: 100%;

    .restPage_feedBack {
      &_wrap {
        ul {
          li {
            p {
              height: 180px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1800px) {
  .about {
    width: 100%;
  }
}
@media screen and (max-width: 1500px) {
  .about {
    width: 100%;

    .restPage_feedBack {
      &_wrap {
        ul {
          li {
            p {
              height: 240px;
            }
          }
        }
      }
    }

    .restPage_display {
      .left_btn {
        left: 80px;
      }
      .right_btn {
        right: 80px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  $wrap-width: 82%;
  .about {
    width: 100%;

    .restPage_info {
      // background-color: yellowgreen;
      &_wrap {
        margin: 0 auto;
        width: $wrap-width;
      }
      &_top {
        p {
          margin-bottom: 0;
          font-size: 32px;
          text-align: left;
        }
      }
      &_bottom {
        li {
          height: auto;
          width: 100%;
          .icon_leaf,
          .icon_badge,
          .icon_rocket {
            display: none;
          }
          text-align: center;
          p {
            font-size: 32px;
            text-align: left;
          }
        }
      }
      &_last {
        display: block;
        h2 {
          margin-bottom: 50px;
          margin-right: 0;
          text-align: center;
        }
        p {
          font-size: 32px;
        }
      }
    }

    .restPage_display {
      .left_btn {
        left: 46px;
      }
      .right_btn {
        right: 46px;
      }
    }

    .restPage_display_wrap {
      &_slider {
        &_items {
          &_item {
            article {
              margin: 0 auto;
              margin-top: 50px;
              max-width: 500px;
            }
          }
        }
      }
      .placeHolder {
        display: none;
      }
      section {
        display: none;
      }
      h2 {
        text-align: center;
        margin-top: 41px;
      }
    }

    .restPage_feedBack_wrap {
      width: $wrap-width;

      h2 {
        margin-top: 90px;
        font-size: 48px;
      }
      p {
        margin-top: 60px;
        font-size: 32px;
        line-height: 30px;
      }

      ul {
        li {
          mark,
          h4,
          section,
          h5,
          a {
            display: none;
          }
        }
      }
    }
    .restPage_choices {
      // flex-wrap: wrap;
      justify-content: space-around;
      span {
        margin-right: 0;
        width: 123px;
        height: 123px;
        border-radius: 50%;
        border: 4px solid$this-red;
        h3 {
          font-size: 48px;
        }
        p {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    .restPage_questions_wrap {
      h5,
      li main {
        font-size: 32px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  $wrap-width: 92%;

  .about {
    width: 100%;
    .frontPage {
      &_wrap {
        h1 {
          margin-bottom: 30px;
          font-size: 62px;
          line-height: 90px;
        }
        h2 {
          font-size: 36px;
          width: 600px;
          line-height: 46px;
        }
        .button {
          margin-top: 105px;
          padding: 0 20px;
          width: 220px;
          height: 68px;
          line-height: 68px;
          font-size: 21px;
          color: black;
          background-color: $this-yellow;
        }
      }
    }

    .restPage_info {
      // background-color: yellowgreen;
      &_wrap {
        width: $wrap-width;
      }
      &_top {
        p {
          font-size: 32px;
        }
      }
      &_bottom {
        li {
          p {
            font-size: 32px;
          }
        }
      }
    }

    .restPage_feedBack {
      &_wrap {
        width: $wrap-width;
        h2 {
          margin-top: 90px;
          font-size: 48px;
        }
        p {
          margin-top: 60px;
          font-size: 32px;
          line-height: 30px;
        }
      }
    }

    .restPage_mobileApp_wrap {
      width: $wrap-width;

      main {
        padding: 0;
        width: 100%;
        p {
          font-size: 32px;
        }
        ul {
          li {
            font-size: 32px;
          }
        }
      }
    }
  }
}
