* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carttotal {
  width: 280px;
  height: auto;
  background-color: #181818;
  color: #FFFFFF;
  font-size: 13px;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 1;
  transition: 500ms;
}

.carttotal .red {
  color: #d94f2b;
}

.carttotal h3 {
  font-size: 26px;
  color: #FDBC2C;
}

.carttotal hr {
  margin: 15px 0px;
  border: 0.1px solid #eeeeee;
  opacity: 0.2;
}

.carttotal ul {
  list-style-type: none;
}

.carttotal ul li {
  margin: 20px 20px 20px 0;
  display: flex;
  align-items: center;
}

.carttotal ul li a, .carttotal ul li img {
  margin-right: 10px;
}

.carttotal ul li img {
  width: 65px;
  height: 65px;
}

.carttotal ul li h5 {
  font-size: 15px;
  color: #FDBC2C;
}

.carttotal ul li h6 {
  display: inline-block;
}

.carttotal ul li p {
  font-size: 11px;
  margin-top: 10px;
}

.carttotal ul li .subtitle {
  font-weight: 700;
  font-size: 13px;
}

.carttotal ul li hr {
  margin: 20px 0px;
  border: 0.1px solid #eeeeee;
  opacity: 0.2;
}

.carttotal ul a {
  cursor: pointer;
}

.carttotal ul a img {
  width: 12px;
  height: 12px;
}

.carttotal dl {
  display: flex;
  justify-content: space-between;
}

.carttotal dl dt, .carttotal dl dd {
  display: inline-block;
  margin: 10px 0;
}

.carttotal dl dt h5, .carttotal dl dd h5 {
  font-size: 13px;
  color: #FFFFFF;
}

.carttotal dl dt h4, .carttotal dl dd h4 {
  font-size: 18px;
}

.carttotal button {
  display: block;
  margin-top: 15px;
  width: 100%;
  padding: 12px 0;
  background-color: #FDBC2C;
  outline: none;
  border: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.carttotal button:hover {
  opacity: 0.9;
}

.carttotal .buttonblack {
  background-color: #000000;
  border: 1px solid #FDBC2C;
  color: #FDBC2C;
}

.cartactive {
  right: 0;
  transition: 500ms;
}
