* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* a, * a:visited, * a:hover a:active {
  color: inherit;
}

@font-face {
  font-family: 'RoyaChicken';
  src: local("RoyaChicken"), url(../../font/RoyaChicken.otf) format("opentype");
}

.header {
  width: 100%;
  min-width: 350px;
  height: 80px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.header__leftWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__leftWrapper--avatar {
  margin-right: 20px;
  cursor: pointer;
  z-index: 999;
  color: #FFFFFF;
  position: relative;
}

.header__leftWrapper--avatar--userActions {
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #FDBC2C;
  color: #FFFFFF;
  font-weight: 700;
  position: absolute;
  top: 60px;
  right: -20px;
  width: 140px;
  height: auto;
  padding: 5px;
  line-height: 1.75rem;
}

.header__leftWrapper--avatar--userActions span {
  display: block;
  font-size: 1rem;
}

.header__leftWrapper--avatar--userActions span:visited {
  color: #FFFFFF;
}

.header__leftWrapper--avatar--userActions span:hover {
  color: #d94f2b;
}

.header__leftWrapper--avatar--userActions .d-none {
  display: none;
}

.header__leftWrapper--avatar--userActions a:visited {
  color: #FFFFFF;
}

.header .navbar button, .header .cart button {
  border: none;
  outline: none;
  cursor: pointer;
}

.header .navbar button {
  background-color: #000000;
  transition: margin-left 500ms;
}

.header .navbar button img {
  width: 35px;
  height: 35px;
}

.header .cart button {
  background-color: #FDBC2C;
  width: 80px;
  height: 80px;
  transition: margin-right 500ms;
}

.header .cart button img {
  width: 35px;
  height: 35px;
}

.header .logo span {
  color: #d94f2b;
  font-size: 65px;
  font-family: "RoyaChicken";
}

@media screen and (max-width: 580px) {
  .header .logo span {
    display: none;
  }
}

.header .slideleft {
  margin-left: 280px;
}

.header .slideright {
  margin-right: 280px;
}
