*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
font-family: 'RoyaChicken';
src: local('RoyaChicken'), url(../../font/RoyaChicken.otf) format('opentype');
}
.header{
    width: 100%;
    min-width: 350px;
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    &__leftWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--avatar{
            margin-right: 20px;
            cursor: pointer;
            z-index: 999;
            color: #FFFFFF;
            position: relative;
            &--userActions{
                z-index: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                background-color: #FDBC2C;
                color: #FFFFFF;
                font-weight: 700;
                position: absolute;
                top: 60px;
                right: -20px;
                width: 140px;
                height: auto;
                padding: 5px;
                line-height: 1.5rem;
                & span{
                    display: block;
                    font-size: 1rem;
                }
                & span:hover{
                    color: #d94f2b;
                }
                & .d-none{
                    display: none;
                }
                & a:visited{
                    color: unset;
                }
            }
        }
    }
    & .navbar button, & .cart button{
        border: none;
        outline: none;
        cursor: pointer;
    }
    & .navbar button{
        background-color: #000000;
        transition: margin-left 500ms;
        & img{
            width: 35px;
            height: 35px;
        }
    }
    & .cart button{
        background-color: #FDBC2C;
        width: 80px;
        height: 80px;
        transition: margin-right 500ms;
        & img{
            width: 35px;
            height: 35px;
        }
    }
    & .logo span{
        color: #d94f2b;
        font-size: 65px;
        font-family: "RoyaChicken";
        @media screen and (max-width: 580px) {
            display: none;
        }
    }
    & .slideleft{
        margin-left: 280px;
    }
    & .slideright{
        margin-right: 280px;
    }
}
