* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fredericka-the-Great';
  src: local("Fredericka-the-Great"), url(../../../../font/Fredericka-the-Great.ttf) format("opentype");
}

.Checkout {
  width: 100%;
}

.Checkout .media {
  min-width: 350px;
  background-color: #181818;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Fredericka-the-Great";
}

.Checkout .media .contactdetails h2, .Checkout .media .contactdetails h3 {
  color: #d94f2b;
  text-align: center;
}

.Checkout .media .contactdetails h2 {
  font-size: 60px;
}

@media screen and (max-width: 530px) {
  .Checkout .media .contactdetails h2 {
    font-size: 40px;
  }
}

.Checkout .media .contactdetails h3 {
  font-size: 40px;
}

@media screen and (max-width: 530px) {
  .Checkout .media .contactdetails h3 {
    font-size: 25px;
  }
}

.Checkout .media .contactdetails img {
  margin-top: 30px;
  margin-left: 25%;
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 530px) {
  .Checkout .media .contactdetails img {
    margin-top: 15px;
  }
}

.Checkout .media .socialmedia {
  text-align: center;
}

.Checkout .media .socialmedia h5 {
  color: #FFFFFF;
  margin: 15px;
  font-size: 20px;
  display: inline-block;
}

@media screen and (max-width: 530px) {
  .Checkout .media .socialmedia h5 {
    margin: 10px;
    font-size: 13px;
  }
}
