.user body {
  line-height: 1.5;
}

.user nav {
  padding: 2em;
  border: solid 1 transparent;
  width: min-content;
}

.user ul {
  width: 270px;
}

.user li {
  padding: 10px;
  color: white;
  position: relative;
}

.user li:target {
  background-color: #FDBC2C;
}

.user li a {
  color: whitesmoke;
  font-weight: bold;
  display: inline-block;
  margin-left: 1em;
}

.user .userbar--topitems {
  border: solid 1px #FDBC2C;
  background-color: transparent;
}

.user .userbar--middleitems {
  border: solid 1px transparent;
  background-color: #FDBC2C;
}


.user .userbar--bottomitems {
  border: solid 1px #FDBC2C;
  background-color:transparent;
}

.user li:hover a {
  color: rgb(168, 44, 44);
}
.user li:hover {
  color: rgb(168, 44, 44);
}

.user li:hover::after {
  content: "";
  display: block;
  width: 0px;
  height: 100%;
  border: solid 3px #FDBC2C;
  top: 0;
  right: 0;
  position: absolute;
}


