@mixin desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
@font-face {
  font-family: "Fredericka-the-Great";
  src: local("Fredericka-the-Great"),
    url(../../../../font/Fredericka-the-Great.ttf) format("opentype");
}
@font-face {
  font-family: "JosefinSans-Regular";
  src: local("JosefinSans-Regular"),
    url(../../../../font/JosefinSans-Regular.ttf) format("opentype");
}
.breadcrumb {
  width: 100%;
  & .navigation {
    min-width: fit-content;
    height: 400px;
    background-image: url("../../../../images/pizza-header.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    @include pad {
        height: 300px;
    }
    @include mobile {
        height: 200px;
    }
    & .container {
      text-align: center;
      &__title h2 {
        font-size: 60px;
        color: #ffffff;
        font-family: "Fredericka-the-Great";
        margin-bottom: 30px;
        font-weight: normal;
        @include mobile {
            font-size: 35px;
        }
      }
      &__navBar {
        display: flex;
        justify-content: center;
        &--content {
          position: relative;
          width: auto;
          height: 38px;
          color: #fdbc2c;
          border: 2px solid #fdbc2c;
          border-left: none;
          border-right: none;
          text-align: center;
          font-size: 16px;
          padding: 5px 50px;
        }
        &--content:before,
        &--content:after {
          content: "";
          position: absolute;
          top: 3.75px;
          width: 26px;
          height: 26px;
          transform: rotate(45deg);
        }
        &--content:before {
          left: -12px;
          border-top: 2px solid #fdbc2c;
          border-left: 0px solid #fdbc2c;
          border-bottom: 0px solid #fdbc2c;
          border-right: 2px solid #fdbc2c;
        }
        &--content:after {
          right: -12px;
          border-top: 0px solid #fdbc2c;
          border-left: 2px solid #fdbc2c;
          border-bottom: 2px solid #fdbc2c;
          border-right: 0px solid #fdbc2c;
        }
      }
    }
  }
}
