@font-face {
  font-family: josefine;
  src: url("./font/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: abril;
  src: url("./font/AbrilFatface-Regular.ttf");
}

@font-face {
  font-family: fred;
  src: url("./font/FrederickatheGreat-Regular.ttf");
}

.product-details {
  background-color: #1E1E1E;
}

.product-details .pizza-intro-wrapper {
  color: white;
  width: 66%;
  margin: 0px auto;
}

@media only screen and (max-width: 1200px) {
  .product-details .pizza-intro-wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .product-details .pizza-intro-wrapper {
    width: 100%;
  }
}

.product-details .pizza-intro-wrapper .nav-bar {
  width: 100%;
  height: 100px;
  background-color: #1E1E1E;
  border-bottom: 3px solid #D9502B;
  padding: 20px 0px;
  box-sizing: border-box;
  display: flex;
}

.product-details .pizza-intro-wrapper .nav-bar button {
  display: inline-block;
  line-height: 60px;
  background-color: transparent;
  color: white;
  border: none;
}

.product-details .pizza-intro-wrapper .nav-bar button:first-child {
  font-family: josefine;
}

.product-details .pizza-intro-wrapper .nav-bar button:nth-child(2) {
  margin-left: auto;
  margin-right: 20px;
  width: 60px;
  text-align: center;
  color: #D9502B;
  border: 3px solid #D9502B;
}

.product-details .pizza-intro-wrapper .nav-bar button:nth-child(3) {
  width: 60px;
  text-align: center;
  color: #D9502B;
  border: 3px solid #D9502B;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper {
  margin-top: 50px;
  background-color: #1E1E1E;
  box-sizing: border-box;
  display: flex;
}

@media only screen and (max-width: 1400px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper {
    flex-direction: column;
  }
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper img {
  width: 50%;
  margin-right: 20px;
}

@media only screen and (max-width: 1800px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper img {
    width: 70%;
  }
}

@media only screen and (max-width: 1600px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper img {
    width: 80%;
  }
}

@media only screen and (max-width: 1400px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper img {
    margin: 0 auto;
  }
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details {
  width: 50%;
  font-family: josefine;
}

@media only screen and (max-width: 1400px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details {
    width: 100%;
    text-align: center;
  }
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details h1 {
  font-size: 3rem;
  color: #FBB92D;
  font-family: abril;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details .rate {
  color: #D9502B;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details .rate .dv-star-rating {
  font-size: 1.5rem;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details .pizza-ingred {
  font-size: 1rem;
  margin-top: 20px;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details .pizza-sizes {
  margin-top: 30px;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
}

@media only screen and (max-width: 1400px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul {
    justify-content: center;
  }
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:first-child {
  margin-right: 10px;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:first-child div {
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:first-child p {
  text-align: center;
}

@media only screen and (max-width: 1800px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:first-child {
    margin-right: 10px;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:first-child div {
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:first-child p {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:first-child {
    margin-right: 10px;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:first-child div {
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:first-child p {
    text-align: center;
  }
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(2) {
  margin-right: 10px;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(2) div {
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(2) p {
  text-align: center;
}

@media only screen and (max-width: 1800px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(2) {
    margin-right: 10px;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(2) div {
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(2) p {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(2) {
    margin-right: 10px;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(2) div {
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(2) p {
    text-align: center;
  }
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(3) {
  margin-right: 10px;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(3) div {
  width: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(3) p {
  text-align: center;
}

@media only screen and (max-width: 1800px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(3) {
    margin-right: 10px;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(3) div {
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(3) p {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(3) {
    margin-right: 10px;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(3) div {
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(3) p {
    text-align: center;
  }
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(4) {
  margin-right: 10px;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(4) div {
  width: 90px;
  line-height: 90px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(4) p {
  text-align: center;
}

@media only screen and (max-width: 1800px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(4) {
    margin-right: 10px;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(4) div {
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(4) p {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(4) {
    margin-right: 10px;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(4) div {
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(4) p {
    text-align: center;
  }
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(5) {
  margin-right: 10px;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(5) div {
  width: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(5) p {
  text-align: center;
}

@media only screen and (max-width: 1800px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(5) {
    margin-right: 10px;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(5) div {
    width: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(5) p {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(5) {
    margin-right: 10px;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(5) div {
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
  }
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details ul > li:nth-child(5) p {
    text-align: center;
  }
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details .pizza-price {
  font-family: fred;
  color: #D9502B;
  font-size: 2rem;
  margin: 16px auto 30px;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details .pizza-quantity {
  display: flex;
}

@media only screen and (max-width: 1400px) {
  .product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details .pizza-quantity {
    justify-content: center;
  }
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details .pizza-quantity .flex-item {
  width: 30px;
  line-height: 30px;
  border: 1px solid white;
  text-align: center;
}

.product-details .pizza-intro-wrapper .pizza-details-wrapper .pizza-details .pizza-quantity .flex-item:last-child {
  width: 120px;
  margin-left: 30px;
  background-color: #FBB92D;
  border: none;
  font-family: josefine;
}

.product-details .pizza-info-wrapper {
  width: 66%;
  margin: 50px auto 0px;
}

@media only screen and (max-width: 800px) {
  .product-details .pizza-info-wrapper {
    width: 100%;
  }
}

.product-details .pizza-info-wrapper .nav-bar {
  color: white;
  font-family: josefine;
  font-size: 1rem;
  width: 100%;
  background-color: #1E1E1E;
  border-bottom: 3px solid #D9502B;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .product-details .pizza-info-wrapper .nav-bar {
    flex-direction: column;
    border-top: 3px solid #D9502B;
    padding-top: 30px;
  }
}

.product-details .pizza-info-wrapper .nav-bar .flex-item {
  display: block;
  margin: 0px 50px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
  .product-details .pizza-info-wrapper .nav-bar .flex-item {
    margin: 0px 20px;
  }
}

.product-details .pizza-info-wrapper .nav-bar .flex-item:last-child {
  color: #D9502B;
}

.product-details .pizza-info-wrapper .customers-reviews {
  margin-top: 100px;
  display: flex;
}

@media only screen and (max-width: 1400px) {
  .product-details .pizza-info-wrapper .customers-reviews {
    flex-direction: column;
  }
}

.product-details .pizza-info-wrapper .customers-reviews .prev-reviews {
  width: 66%;
  margin-right: 20px;
}

@media only screen and (max-width: 1400px) {
  .product-details .pizza-info-wrapper .customers-reviews .prev-reviews {
    width: 100%;
  }
}

.product-details .pizza-info-wrapper .customers-reviews .prev-reviews .user-name {
  color: #FBB92D;
  font-size: 2rem;
  font-family: abril;
}

.product-details .pizza-info-wrapper .customers-reviews .prev-reviews .rate {
  float: right;
  color: #D9502B;
}

.product-details .pizza-info-wrapper .customers-reviews .prev-reviews .rate .dv-star-rating {
  font-size: 1.2rem;
}

.product-details .pizza-info-wrapper .customers-reviews .prev-reviews .rv-date {
  color: #D9502B;
  font-family: josefine;
}

.product-details .pizza-info-wrapper .customers-reviews .prev-reviews .rv-comment {
  color: white;
  font-family: josefine;
  margin-top: 30px;
  font-size: 1.2rem;
}

.product-details .pizza-info-wrapper .customers-reviews .new-review {
  width: 34%;
  background-color: black;
  padding: 20px 30px;
  box-sizing: border-box;
  margin-left: 20px;
}

@media only screen and (max-width: 1400px) {
  .product-details .pizza-info-wrapper .customers-reviews .new-review {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
}

.product-details .pizza-info-wrapper .customers-reviews .new-review h1 {
  font-family: abril;
  color: #FBB92D;
  font-size: 2.5rem;
}

.product-details .pizza-info-wrapper .customers-reviews .new-review p {
  font-family: josefine;
  color: white;
  margin-top: 20px;
}

.product-details .pizza-info-wrapper .customers-reviews .new-review input {
  background-color: transparent;
  border: 1px solid white;
  height: 2rem;
  width: 100%;
}

.product-details .pizza-info-wrapper .customers-reviews .new-review textarea {
  background-color: transparent;
  border: 1px solid white;
  height: 10rem;
  width: 100%;
}

.product-details .pizza-info-wrapper .customers-reviews .new-review button {
  width: 40%;
  height: 2rem;
  margin-top: 20px;
  font-family: josefine;
  background-color: #FBB92D;
  border: none;
}

@media only screen and (max-width: 1400px) {
  .product-details .pizza-info-wrapper .customers-reviews .new-review button {
    margin: 20px auto 0px;
    display: block;
  }
}

.product-details .related-pizza-wrapper {
  width: 66%;
  margin: 100px auto 0px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .product-details .related-pizza-wrapper {
    width: 100%;
  }
}

.product-details .related-pizza-wrapper h1 {
  font-family: abril;
  color: #FBB92D;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}

.product-details .related-pizza-wrapper .related-pizza-list {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
  .product-details .related-pizza-wrapper .related-pizza-list {
    flex-direction: column;
    margin-top: 20px;
  }
}

.product-details .related-pizza-wrapper .related-pizza-list .flex-item {
  text-align: center;
  flex: 1 1 20%;
  margin: 0px 20px;
}

@media only screen and (max-width: 1200px) {
  .product-details .related-pizza-wrapper .related-pizza-list .flex-item img {
    width: 200px;
    height: 200px;
  }
}

.product-details .related-pizza-wrapper .related-pizza-list .flex-item .pizza-name {
  color: #FBB92D;
  font-size: 1.5rem;
  font-family: abril;
}

.product-details .related-pizza-wrapper .related-pizza-list .flex-item .pizza-ingrd {
  color: white;
  font-family: josefine;
}
