*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Fredericka-the-Great';
    src: local('Fredericka-the-Great'), url(../../../../font/Fredericka-the-Great.ttf) format('opentype');
}
@font-face {
    font-family: 'JosefinSans-Regular';
    src: local('JosefinSans-Regular'), url(../../../../font/JosefinSans-Regular.ttf) format('opentype');
}
.Checkout{
    width: 100%;
    & .navigation{
        min-width: 350px;
        height: 400px;
        background-image: url('../../../../images/pizza-header.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        & .container{
            text-align: center;
            &__title h2{
                font-size: 60px;
                color: #FFFFFF;
                font-family: 'Fredericka-the-Great';
                margin-bottom: 20px;
            }
            &__navBar{
                display: flex;
                justify-content: center;
                &--content {
                    position: relative;
                    width:auto;
                    height: 40px;
                    color: #FDBC2C;
                    border: 2px solid #FDBC2C;
                    border-left: none;
                    border-right: none;
                    text-align: center;
                    font-size: 12px;
                    padding: 10px 50px 0px 50px;
                }
                &--content:before, &--content:after{
                    content:"";
                    position: absolute;
                    top:3.75px;
                    width:26px;
                    height:26px;
                    transform: rotate(45deg);
                }
                &--content:before {
                    left: -14px;
                    border-top: 2px solid #FDBC2C;
                    border-left: 0px solid #FDBC2C;
                    border-bottom: 0px solid #FDBC2C;
                    border-right: 2px solid #FDBC2C;
                }
                &--content:after {
                    right: -14px;
                    border-top: 0px solid #FDBC2C;
                    border-left: 2px solid #FDBC2C;
                    border-bottom: 2px solid #FDBC2C;
                    border-right: 0px solid #FDBC2C;
                }
            }
        }
    }    
}

