@font-face{
  font-family: 'RoyalChicken';
  src: url('../../font/RoyaChicken.otf') format('truetype');
}
@font-face{
  font-family: 'FrederickatheGreat';
  src: url('../../font/Fredericka-the-Great.ttf') format('truetype');
}
@font-face{
  font-family: 'JosefinSans-Regular';
  src: url('../../font/JosefinSans-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'JosefinSans-Bold';
  src: url('../../font/JosefinSans-Bold.ttf') format('truetype');
}
@font-face{
  font-family: 'AbrilFatface-Regular';
  src: url('../../font/AbrilFatface-Regular.otf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
}

.menu {
  width: 100%;
  background-size: 100% 100%;
  background-repeat: repeat-y;
  margin: 0;
  height: fit-content;
}


.menu .catelogue {
  width: 90%;
  height: 100%;
  margin: auto;
}

.menu .catelogue__topbar {
  width: 100%;
  height: 95px;
  border-bottom: solid 6px #d94f2b;
  position: relative;
}

.menu .catelogue__filter {
  position: absolute;
  height: 100%;
  width: 160px;
  left: 0;
  font-family: JosefinSans-Regular;
}


.menu .filter {
  display: none;
}


.menu .filter-container {
  width: 400px;
  height: 97px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}

.menu .filter-container ul {
  list-style-type: none;
  padding-left: 0;
}

.menu .filter-container li {
  display: inline-block;
  color: #fff;
}

.menu .filter__title {
  padding-left: 5px;
  font-size: 20px;
  font-family: JosefinSans-Bold;
  font-weight: 900;
}

.menu .filter__result {
  font-size: 18px;
  margin-left: 20px;
}

.menu .filter-container span {
  display: block;
  border: solid 2px #fff;
  height: 0px;
  width: 15px;
}

.menu .filter-container span:nth-child(2) {
  margin-top: 3px;
}

.menu .filter-container span:nth-child(3) {
  margin-top: 3px;
}

.menu .filter__button {
  width: 20px;
}

.menu .filter__items {
  background-color: #151515;
  height: 380px;
  width: 1296px;
  position: absolute;
  top: 0px;
  left: 0;
  transition: transform 0.1s ease-in-out;
  transform-origin: 50% 0;
  color: #eeeeee;
  display: none;
}

.menu .filter__items ul {
  list-style-type: none;
  text-align: left;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  margin-top: 15px;
  flex-wrap: wrap;
  margin-left: 40px;
}

.menu .filter__items li {
  width: 200px;
}

.menu .filter__options {
  margin: 20px 4px;
}

.menu .filter__options input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.menu .filter__radio .filter__options .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(238, 238, 238, 0);
  border: solid 2px whitesmoke;
  border-radius: 50%;
}

.menu .filter__radio .filter__options .checkmark:after {
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  border: solid 1px #d94f2b;
  background-color: #d94f2b;
  border-radius: 40%;
}

.menu .filter__options .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(238, 238, 238, 0);
  border: solid 2px whitesmoke;
}

.menu .filter__options .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.menu .filter__options input:checked ~ .checkmark {
  border-color: #d94f2b;
}

.menu .filter__options input:checked ~ .checkmark:after {
  display: block;
}

.menu .filter__options .checkmark:after {
  left: 7px;
  top: 7px;
  width: 5px;
  height: 5px;
  border: solid 1px #d94f2b;
  background-color: #d94f2b;
}

.menu .filter__options input:checked ~ h4 {
  color: #d94f2b;
  font-family: JosefinSans-Bold;
}


.menu .filter:checked ~ .filter__items {
  transform: scaleY(0);
  transform: translate(0px, 95px);
  position: absolute;
  display: block;
}

.menu .filter__options {
  display: block;
  position: relative;
}

.menu .filter__options h4 {
  padding-left: 40px;
}

.menu .filter--selected {
  text-align: center;
  margin: -20px auto;
  height: 45px;
}

.menu .filter__button--selected {
  width: 230px;
  height: 45px;
  background-color: #fdbc2c;
  color: #000000;
  font-size: 10px;
  margin: 40px;
}

.menu .catelogue__default {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 200px;
  right: 8px;
  text-align: right;
}

.menu .catelogue__default .sorting {
  position: absolute;
  height: fit-content;
  font-size: 20px;
  font-family: JosefinSans-Bold;
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
  margin: auto;
  border: none;
  background-color: rgba(240, 222, 222, 0);
  color: #fff;
}

.menu .catelogue__product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.menu .catelogue__product img {
  height: 200px;
  width: 200px;
  margin: 25px auto;
}

.menu .catelogue__product--name {
  height: 640px;
  width: 292px;
  margin-top: 10px;
  text-align: center;
  border: solid 3px transparent;
  box-sizing: border-box;
}

.menu .catelogue__product--name h3 {
  font-family: AbrilFatface-Regular;
}

.menu .catelogue__product--name h4 {
  font-family: FrederickatheGreat;
}

.menu .catelogue__product--name p {
  font-family: JosefinSans-Regular;
}

.menu .pizza__description {
  text-align: center;
  color: #eeeeee;
  font-family: "Courier New", Courier, monospace;
  padding: 0 5px;
}

.menu .pizza__description h3 {
  color: #fdbc2c;
  font-size: 24px;
  margin: 10px;
}

.menu .pizza__description p {
  font-size: 25px;
  height: 190px;
}

.menu .product__price {
  color: #b24427;
  font-size: 30px;
  margin: 15px auto;
}

.menu .size--selection {
  padding: 10px 0 ;
}

.menu .product__size {
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #1c1c1c;
  width: 150px;
  height: 30px;
  font-size: 18px;
  visibility: hidden;
  box-sizing: border-box;
  font-weight: bold;
  margin: 6px;
}

.menu .catelogue__product .add-button {
  visibility: hidden;
  height: 32px;
  width: 80px;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #fdbc2c;
}

.menu .catelogue__product--name:hover {
  border: solid 3px #fdbc2c;
}

.menu .catelogue__product--name:hover .add-button {
  visibility: visible;
}
.menu .catelogue__product--name:hover .product__size {
  visibility: visible;
}


.menu .pagination {
  border: solid 3px #d94f2b;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  margin: 80px 0;
}


.menu .pagination a {
  color: #d94f2b;
  text-decoration: none;
  font-size: 20px;
}

.menu .pagination a.actived {
  color: white;
}

.menu .pagination a:hover {
  color: white;
}

.menu .previouspage {
  border-right: solid 3px #d94f2b;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}

.menu .pagenumber {
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.menu .pagenumber a {
  margin: 15px;
}

.menu .nextpage {
  border-left: solid 3px #d94f2b;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}


@media only screen and (max-width: 1024px) {

  .menu .catelogue__topbar {
    height: 70px;
  }

  .menu .filter-container {
    height: 70px;
  }

  .menu .filter:checked ~ .filter__items {
    width: 921.6px;
  }

  .menu .catelogue__default .sorting {
    font-size: 15px;
  }

  .menu .filter__title {
    font-size: 16px;
  }

  .menu .filter__result {
    font-size: 16px;
  }
 
  .menu .filter-container span {
    display: block;
    border: solid 1px #fff;
    height: 0px;
    width: 15px;
  }

  .menu .filter__items {
    height: 420px;
    width: 921.6px;
  }
  
  .menu .filter:checked ~ .filter__items ul {
    margin-right: 60px;
  }

  .menu .filter__items li {
    width: 20px;
  }
  
  .menu .filter__options {
    margin: 20px 0 20px 0;
    width: 140px;
  }


  
  .menu .filter__options input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .menu .filter__radio .filter__options .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(238, 238, 238, 0);
    border: solid 2px whitesmoke;
    border-radius: 50%;
  }
  
  .menu .filter__radio .filter__options .checkmark:after {
    left: 6px;
    top: 6px;
    width: 8px;
    height: 8px;
    border: solid 1px #d94f2b;
    background-color: #d94f2b;
    border-radius: 40%;
  }
  
  .menu .filter__options .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(238, 238, 238, 0);
    border: solid 2px whitesmoke;
  }
  
  .menu .filter__options .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .menu .filter__options input:checked ~ .checkmark:after {
    display: block;
  }
  
  .menu .filter__options .checkmark:after {
    left: 7px;
    top: 7px;
    width: 5px;
    height: 5px;
    border: solid 1px #d94f2b;
    background-color: #d94f2b;
  }
  
  .menu .filter__options h4 {
    padding-left: 40px;
  }
  

  .menu .filter:checked ~ .filter__items {
    transform: scaleY(0);
    transform: translate(0px, 80px);
    position: absolute;
  }
  
  .menu .filter__options {
    display: block;
    position: relative;
  }
  
  .menu .filter--selected {
    text-align: center;
    margin: -20px auto;
    height: 45px;
  }
  
  .menu .filter__button--selected {
    width: 230px;
    height: 45px;
    background-color: #fdbc2c;
    color: #000000;
    font-size: 10px;
    margin: 40px;
  }
  

  .menu .catelogue__product--name {
    height: fit-content;
    width: 250px;
  }

  .menu .product__size {
    width: 170px;
    height: 30px;
    margin-top: 5px;
    font-size: 14px;
    margin-right: 4px;
  }

  .menu .catelogue__product .add-button {
    height: 30px;
    width: 60px;
    margin: 2px;
    font-size: 14px;
  }

  .menu .subscription {
    height: 200px;
  }
  .menu .subscription h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .menu .subscription input {
    height: 40px;
    width: 300px;
  }
  .menu .subscription button {
    height: 40px;
    width: 140px;
  }

  .menu .contact {
    height: 150px;
    padding: 25px;
  }

  .menu .contact .phonenumber {
    font-size: 50px;
  }

  .menu .contact .emailaddress {
    font-size: 30px;
  }
  .menu .socialmedia li {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {

  .menu .filter:checked ~ .filter__items {
    width: 691px;
    height: 700px;
  }

  .menu .filter__radio .filter__options .checkmark {
    height: 15px;
    width: 15px;
  }

  .menu .filter__radio .filter__options .checkmark:after {
    top: 3px;
    left: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }

  .menu .filter__options .checkmark {
    position: absolute;
    height: 15px;
    width: 15px;
    border: solid 1px #d94f2b;
  }

  .menu .filter__options .checkmark:after {
    left: 4px;
    top: 4px;
    width: 5px;
    height: 5px;
    border: solid 1px #d94f2b;
    background-color: #d94f2b;
  }

  .menu .filter__items ul {
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    margin-top: 15px;
    margin-left: 20px;
    flex-wrap: wrap;
  }
  .menu .filter__items li {
    width: 150px;
  }

  .menu .filter__options h4 {
    padding-left: 20px;
  }

  .menu .catelogue__product--name {
    height: fit-content;
    width: 265px;
    margin: 10px 40px;
  }

  .menu .pizza__description h3 {
    color: #fdbc2c;
    font-size: 22px;
    margin: 20px 0;
  }
  
  .menu .pizza__description p {
    font-size: 23px;
    height: 200px;
  }
  
  .menu .product__price {
    color: #b24427;
    font-size: 30px;
    margin: 5px auto;
  }
}

@media only screen and (max-width: 375px) {
  
  .menu .catelogue__topbar {
    height: 40px;
    border-bottom: solid 2px #d94f2b;
  }

  .menu .filter-container {
    height: 40px;
  }

  .menu .filter__title {
    font-size: 12px;
  }

  .menu .filter__result {
    font-size: 11px;
    margin-left: 10px;
  }

  .menu .catelogue__default .sorting {
    font-size: 11px;
  }

  .menu .filter__items ul {
    list-style-type: none;
    text-align: center;
    z-index: 1000;
    display: block;
    height: fit-content;
    padding: 0;

  }

  .menu .filter:checked ~ .filter__items {
    transform: scaleY(0);
    transform: translate(0px, 95px);
    position: absolute;
    display: block;
  }

  .menu .filter-container span {
    display: block;
    border: solid 1px #fff;
    height: 0px;
    width: 15px;
  }
  
  .menu .filter-container span:nth-child(2) {
    margin-top: 2px;
  }
  
  .menu .filter-container span:nth-child(3) {
    margin-top: 2px;
  }

  .menu .filter:checked ~ .filter__items {
    width: 337.5px;
    height: 1900px;
    transform: translate(0px, 40px);
  }

  .menu .filter__radio .filter__options .checkmark {
    height: 15px;
    width: 15px;
    border: solid 1px #d94f2b;
  }

  .menu .filter__radio .filter__options .checkmark:after {
    top: 3px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .menu .filter__options {
    display: inline;
  }

  .menu .filter__options .checkmark {
    position: absolute;
    height: 15px;
    width: 15px;
    border: solid 1px #d94f2b;
  }

  .menu .filter__options .checkmark:after {
    left: 3px;
    top: 3px;
    width: 5px;
    height: 5px;
    border: solid 1px #d94f2b;
    background-color: #d94f2b;
  }

  .menu .filter--selected {
    padding-top: 0;
    margin-bottom: 20px;
  }

  .menu .filter__button--selected {
    width: 200px;
    height: 45px;
    font-size: 8px;
  }

  .menu .filter__items li {
    width: 100%;
    padding-bottom: 10px;
  }
  .menu .filter__items li h3 {
    font-size: 25px;
    margin-top: 5px;
  }

  .menu .filter__options h4 {
    font-size: 20px;
    padding: 10px;
  }

  .menu .filter__options span {
    position: absolute;
    margin: 12px 10px 12px 70px;
  }

  .menu .filter__items li .more-vegetable {
    margin-top: 2px;
  }

  .menu .filter__items .more-options {
    margin-top: -30px;
  }

  .menu .catelogue__product--name {
    height: 580px;
    width: 300px;
    margin: 10px 30px;
  }

  .menu .catelogue__product img {
    height: 200px;
    width: 200px;
  }


  .menu .pizza__description h3 {
    font-size: 20px;
  }

  .menu .pizza__description h3 {
    font-size: 22px;
    margin: 20px 0;
  }
  
  .menu .pizza__description p {
    font-size: 21px;
    height: 150px;
  }
  
  .menu .product__price {
    color: #b24427;
    font-size: 30px;
    margin: 5px auto;
  }

  .menu .catelogue__product--name h4 {
    font-size: 20px;
  }

  .menu .product__size {
    width: 170px;
    height: 30px;
    margin-top: 5px;
    font-size: 14px;
    padding: 1px 10px;
  }

  .menu .catelogue__product .add-button {
    height: 30px;
    width: 60px;
    margin: 2px;
    font-size: 14px;
  }
}