body {
  padding: 0;
  margin: 0;
  height: fit-content;
}

.menu {
  width: 100%;
  background-image: url("../../images/Pizza-bg.png");
  background-size: 100% 100%;
  background-repeat: repeat-y;
  height: fit-content;
}


.menu .navbar {
  position: relative;
  height: 90px;
  width: 100%;
  background-color: #151515;
}

.menu .nav__sidebar--left {
  position: absolute;
  height: 100%;
  width: 90px;
  background-color: #000000;
  left: 0;
}

.menu #nav__sidebar--left {
  display: none;
}

.menu .hamburger-container {
  display: block;
  width: 90px;
  height: 80px;
  position: relative;
  top: 25%;
}

.menu .hamburger-container span {
  display: block;
  border: solid 2px #fff;
  height: 3px;
  width: 50px;
}

.menu .hamburger-container span:nth-child(2) {
  margin-top: 10px;
}

.menu .hamburger-container span:nth-child(3) {
  margin-top: 10px;
}

.menu .navbar header {
  background-color: #000;
  height: 44px;
  padding: 0 18px;
}


.menu .nav__logo {
  text-align: center;
  font-family: Royal chicken;
}

.menu .nav__logo h2 {
  position: absolute;
  height: 45px;
  font-size: 45px;
  color: #d94f2b;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.menu .account:before {
  content: " ";
  display: block;
  width: 225px;
  height: 1px;
  margin: 30px 0;
  border: solid 1px #383838;
}

.menu .nav__sidebar--cart {
  position: absolute;
  height: 100%;
  width: 90px;
  background-color: #fdbc2c;
  right: 0;
  top: 0;
  text-align: center;
}

.menu .nav__sidebar--cart .pe-7s-cart:before {
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu .page__header {
  text-align: center;
  height: 390px;
  width: 100%;
  position: relative;
}

.menu .page__header img {
  height: 390px;
  width: 100%;
}

.menu .page__header--details {
  height: 120px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.menu .page__header h1 {
  margin-top: 0;
  color: #c3c3c3;
  font-size: 54px;
  font-family: Fredericka the Great;
}

.menu .page__header--breadscrumb {
  height: fit-content;
  width: fit-content;
  border: solid 1px #d49f29;
  margin: auto;
}

.menu .page__header--breadscrumb ul {
  width: fit-content;
  height: fit-content;
  padding: 0 30px;
  margin: 10px;
}

.menu .page__header--breadscrumb li {
  list-style-type: none;
  display: inline;
  font-size: 18px;
  padding: 0;
  font-family: Josefin Sans;
}
.menu .page__header--breadscrumb li + li:before {
  padding: 10px;
  color: #d49f29;
  content: "\003e";
}
.menu .page__header--breadscrumb li a {
  color: #d49f29;
  text-decoration: none;
}
.menu .page__header--breadscrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


.menu .catelogue {
  width: 100%;
  height: fit-content;
  margin: auto;
}

.menu .catelogue__topbar {
  width: 100%;
  height: 95px;
  background-color: #1b1b1b;
  border-bottom: solid 6px #d94f2b;
  position: relative;
}

.menu .catelogue__filter {
  position: absolute;
  height: 100%;
  width: 160px;
  left: 0;
  font-family: Josefin Sans;
}


.menu .filter {
  display: none;
}

.menu .catelogue__filter input:checked li ~ h4 {
  color: #d94f2b;
}

.menu .filter-container {
  width: 400px;
  height: 97px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}

.menu .filter-container ul {
  list-style-type: none;
  padding-left: 0;
}

.menu .filter-container li {
  display: inline-block;
  color: #fff;
}

.menu .filter__title {
  padding-left: 5px;
  font-size: 15px;
  font-family: Josefin Sans;
  font-weight: 900;
}

.menu .filter__result {
  font-size: 10px;
  margin-left: 20px;
}

.menu .filter-container span {
  display: block;
  border: solid 1px #fff;
  height: 0px;
  width: 15px;
}

.menu .filter-container span:nth-child(2) {
  margin-top: 3px;
}

.menu .filter-container span:nth-child(3) {
  margin-top: 3px;
}

.menu .filter__button {
  width: 20px;
}

.menu .filter__items {
  background-color: #151515;
  height: 450px;
  width: 1100px;
  position: absolute;
  top: 0px;
  left: 0;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: 50% 0;
  color: #eeeeee;
}

.menu .filter__items ul {
  list-style-type: none;
  text-align: left;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  height: fit-content;
}

.menu .filter__items li {
  width: 200px;
}

.menu .filter__options input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.menu .filter__radio .filter__options .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(238, 238, 238, 0);
  border: solid 2px #d94f2b;
  border-radius: 50%;
}

.menu .filter__radio .filter__options .checkmark:after {
  left: 8px;
  top: 8px;
  width: 8px;
  height: 8px;
  border: solid 1px #d94f2b;
  background-color: #d94f2b;
  border-radius: 40%;
}

.menu .filter__options .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(238, 238, 238, 0);
  border: solid 2px #d94f2b;
}

.menu .filter__options .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.menu .filter__options input:checked ~ .checkmark:after {
  display: block;
}

.menu .filter__options input:checked ~ h4 {
  color: #d94f2b;
}

.menu .filter__options .checkmark:after {
  left: 9px;
  top: 9px;
  width: 5px;
  height: 5px;
  border: solid 1px #d94f2b;
  background-color: #d94f2b;
}

.menu .filter__options h4 {
  padding-left: 40px;
}

.menu .filter:checked ~ .filter__items {
  transform: scaleY(1);
  transform: translate(0px, 104px);
  position: absolute;
}

.menu .filter__options {
  display: block;
  position: relative;
}

.menu .filter--selected {
  text-align: center;
  margin: -20px auto;
  padding-top: 20px;
  height: 45px;
}

.menu .filter__button--selected {
  width: 230px;
  height: 45px;
  background-color: #fdbc2c;
  color: #000000;
  font-size: 10px;
}


.menu .catelogue__default {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 200px;
  right: 0;
  text-align: right;
}

.menu .catelogue__default .sorting {
  position: absolute;
  height: fit-content;
  font-size: 15px;
  font-family: Josefin Sans;
  font-weight: bold;
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
  margin: auto;
  border: none;
  background-color: rgba(240, 222, 222, 0);
  color: #fff;
}

.menu .catelogue__product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.menu .catelogue__product img {
  height: 200px;
  width: 200px;
  margin: 15px auto;
}

.menu .catelogue__product--name {
  height: fit-content;
  width: 280px;
  margin: 20px 5px;
  text-align: center;
  box-sizing: border-box;
}

.menu .catelogue__product--name h3 {
  font-family: Abril Fatface;
}

.menu .catelogue__product--name h4 {
  font-family: Fredericka the Great;
}

.menu .catelogue__product--name p {
  font-family: Josefin Sans;
}

.menu .pizza__description {
  text-align: center;
  color: #eeeeee;
  font-family: "Courier New", Courier, monospace;
  padding: 0 5px;
}

.menu .pizza__description h3 {
  color: #fdbc2c;
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
}

.menu .product__price {
  color: #b24427;
  font-size: 30px;
  margin: 5px auto;
}

.menu .size--selection {
  padding: 40px 10px;
}

.menu .product__size {
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #1c1c1c;
  width: 150px;
  height: 36px;
  margin-top: 5px;
  font-size: 20px;
  padding: 5px 10px;
  visibility: hidden;
  box-sizing: border-box;
}

.menu .catelogue__product .add-button {
  visibility: hidden;
  height: 36px;
  width: 75px;
  text-align: center;
  margin: 5px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #fdbc2c;
}

.menu .catelogue__product--name:hover {
  border: solid 3px #fdbc2c;
}

.menu .catelogue__product--name:hover .add-button {
  visibility: visible;
}
.menu .catelogue__product--name:hover .product__size {
  visibility: visible;
}


.menu .subscription {
  width: 100%;
  height: 250px;
  background-color: #fdbc2c;
  position: relative;
}

.menu .subscription__details {
  height: fit-content;
  width: 60%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.menu .subscription h2 {
  color: #000000;
  font-weight: bold;
  font-size: 35px;
  font-family: Abril Fatface;
}

.menu .subscription input {
  text-indent: 1em;
  height: 45px;
  width: 295px;
  border: none;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  font-family: Josefin Sans;
}
.menu .subscription button {
  height: 45px;
  width: 130px;
  padding: 0;
  border: none;
  background-color: #000000;
  color: #fdbc2c;
  font-family: Josefin Sans;
}


.menu .contact {
  width: 100%;
  height: 250px;
  position: relative;
  text-align: center;
  color: #d94f2b;
  padding-top: 100px;
  font-family: Fredericka the Great;
  overflow: hidden;
}

.menu .contact__box {
  width: 60%;
  height: fit-content;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.menu .contact .phonenumber {
  font-size: 80px;
  margin: 0;
}

.menu .contact .emailaddress {
  font-size: 50px;
  margin: 0;
}

.menu .socialmedia {
  position: relative;
  text-align: center;
  width: 100%;
  height: 36px;
  padding-bottom: 50px;
}

.menu .socialmedia ul {
  list-style-type: none;
  color: #ffffff;
  height: min-content;
  width: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 20px;
}

.menu .socialmedia li {
  display: inline-block;
  margin: 0 30px;
  font-size: 30px;
  font-weight: 1200px;
  font-family: Fredericka the Great;
}

.menu .socialmedia a:link {
  text-decoration: none;
  color: #eeeeee;
}

.menu .socialmedia a:visited {
  color: #eeeeee;
}

.menu .socialmedia a:hover {
  color: blue;
}

.menu .socialmedia a:active {
  color: yellow;
}


.menu .footer {
  background-color: #000000;
  height: 90px;
  color: #373737;
  position: relative;
}

.menu .footer h3 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 10px;
  font-family: Josefin Sans;
  color: white;
}


@media only screen and (max-width: 1024px) {
  .menu .navbar {
    height: 70px;
  }

  .menu .hamburger-container {
    top: 40%;
  }
  .menu .hamburger-container span {
    display: block;
    border: solid 2px #fff;
    height: 2px;
    width: 55%;
  }

  .menu .hamburger-container span:nth-child(2) {
    margin-top: 8px;
  }

  .menu .hamburger-container span:nth-child(3) {
    margin-top: 8px;
  }
  .menu .page__header {
    height: 290px;
  }

  .menu .page__header img {
    height: 290px;
  }

  .menu .page__header h1 {
    font-size: 30px;
  }

  .menu .page__header--breadscrumb ul {
    width: fit-content;
    height: fit-content;
    padding: 0 10px;
    margin: 5px;
  }
  .menu .page__header--breadscrumb li {
    font-size: 15px;
  }

  .menu .catelogue__topbar {
    height: 70px;
  }

  .menu .filter-container {
    height: 70px;
  }

  .menu .filter:checked ~ .filter__items {
    width: 1024px;
  }

  .menu .catelogue__product--name {
    height: fit-content;
    width: 325px;
    margin: 20px 60px;
  }

  .menu .subscription {
    height: 200px;
  }
  .menu .subscription h2 {
    font-size: 25px;
  }

  .menu .subscription input {
    height: 40px;
    width: 300px;
  }
  .menu .subscription button {
    height: 40px;
    width: 140px;
  }

  .menu .contact {
    height: 150px;
    padding: 25px;
  }

  .menu .contact .phonenumber {
    font-size: 50px;
  }

  .menu .contact .emailaddress {
    font-size: 30px;
  }
  .menu .socialmedia li {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .menu .filter:checked ~ .filter__items {
    width: 768px;
  }

  .menu .filter__radio .filter__options .checkmark {
    height: 15px;
    width: 15px;
  }

  .menu .filter__radio .filter__options .checkmark:after {
    top: 3px;
    left: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }

  .menu .filter__options .checkmark {
    position: absolute;
    height: 15px;
    width: 15px;
    border: solid 1px #d94f2b;
  }

  .menu .filter__options .checkmark:after {
    left: 4px;
    top: 4px;
    width: 5px;
    height: 5px;
    border: solid 1px #d94f2b;
    background-color: #d94f2b;
  }

  .menu .filter__items li {
    width: 150px;
  }

  .menu .filter__options h4 {
    padding-left: 20px;
  }

  .menu .catelogue__product--name {
    height: fit-content;
    width: 80%;
    margin: 20px 60px;
  }

  .menu .subscription {
    height: 200px;
  }
  .menu .subscription h2 {
    font-size: 20px;
  }

  .menu .subscription input {
    height: 30px;
    width: 250px;
  }
  .menu .subscription button {
    height: 30px;
    width: 100px;
  }

  .menu .contact {
    height: 150px;
    padding: 20px;
  }

  .menu .contact .phonenumber {
    font-size: 40px;
  }

  .menu .contact .emailaddress {
    font-size: 20px;
  }

  .menu .socialmedia {
    padding: 0;
  }
  .menu .socialmedia ul {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .menu .socialmedia li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .menu .navbar {
    height: 40px;
  }

  .menu .nav__sidebar--left {
    position: absolute;
    height: 100%;
    width: 70px;
  }
  .menu .hamburger-container {
    top: 25%;
  }
  .menu .hamburger-container span {
    display: block;
    border: solid 1px #fff;
    height: 2px;
    width: 35%;
  }

  .menu .hamburger-container span:nth-child(2) {
    margin-top: 5px;
  }

  .menu .hamburger-container span:nth-child(3) {
    margin-top: 5px;
  }

  .menu .nav__sidebar--cart {
    width: 70px;
  }

  .menu .nav__sidebar--cart .pe-7s-cart:before {
    font-size: 40px;
  }

  .menu .page__header {
    height: 100px;
  }

  .menu .page__header--details {
    height: fit-content;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .menu .page__header img {
    height: 100px;
  }

  .menu .page__header h1 {
    font-size: 20px;
  }

  .menu .page__header--breadscrumb ul {
    height: fit-content;
    padding: 0 4px;
    margin: 2px 4px;
  }

  .menu .page__header--breadscrumb li {
    font-size: 10px;
    padding: 0;
  }

  .menu .catelogue__topbar {
    height: 40px;
  }

  .menu .filter-container {
    height: 40px;
  }

  .menu .filter__title {
    font-size: 10px;
  }

  .menu .filter__result {
    font-size: 8px;
    margin-left: 10px;
  }

  .menu .catelogue__default .sorting {
    font-size: 10px;
  }

  .menu .filter__items ul {
    list-style-type: none;
    text-align: center;
    z-index: 1000;
    display: block;
    height: fit-content;
    padding: 0;
  }

  .menu .filter:checked ~ .filter__items {
    width: 375px;
    height: fit-content;
    transform: translate(0px, 50px);
  }

  .menu .filter__radio .filter__options .checkmark {
    height: 15px;
    width: 15px;
    border: solid 1px #d94f2b;
  }

  .menu .filter__radio .filter__options .checkmark:after {
    top: 4px;
    left: 4px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .menu .filter__options {
    display: inline;
  }

  .menu .filter__options .checkmark {
    position: absolute;
    height: 15px;
    width: 15px;
    border: solid 1px #d94f2b;
  }

  .menu .filter__options .checkmark:after {
    left: 4px;
    top: 4px;
    width: 5px;
    height: 5px;
    border: solid 1px #d94f2b;
    background-color: #d94f2b;
  }

  .menu .filter--selected {
    padding-top: 0;
    margin-bottom: 20px;
  }

  .menu .filter__button--selected {
    width: 200px;
    height: 45px;
    font-size: 8px;
  }

  .menu .filter__items li {
    width: 100%;
    padding-bottom: 10px;
  }
  .menu .filter__items li h3 {
    font-size: 25px;
  }

  .menu .filter__options h4 {
    font-size: 20px;
    padding: 10px;
  }

  .menu .filter__options span {
    position: absolute;
    margin: 12px 10px 12px 70px;
  }

  .menu .filter__items li .more-vegetable {
    display: none;
  }

  .menu .filter__items .more-options {
    margin-top: -30px;
  }

  .menu .catelogue__product--name {
    height: fit-content;
    width: 60%;
    margin: 10px 30px;
  }

  .menu .catelogue__product img {
    height: 150px;
    width: 150px;
  }

  .menu .pizza__description h3 {
    font-size: 20px;
  }

  .menu .catelogue__product--name h4 {
    font-size: 20px;
  }

  .menu .catelogue__product--name p {
    font-size: 10px;
  }

  .menu .size--selection {
    padding: 8px 5px;
  }

  .menu .product__size {
    width: 100px;
    height: 20px;
    margin-top: 5px;
    font-size: 8px;
    padding: 1px 10px;
  }

  .menu .catelogue__product .add-button {
    height: 20px;
    width: 40px;
    margin: 2px;
    font-size: 10px;
  }
  .menu .subscription {
    height: 100px;
  }
  .menu .subscription h2 {
    font-size: 10px;
  }

  .menu .subscription input {
    height: 20px;
    width: 150px;
    font-size: 10px;
  }
  .menu .subscription button {
    height: 20px;
    width: 60px;
    font-size: 8px;
  }

  .menu .contact {
    height: 80px;
    padding: 0;
  }

  .menu .contact .phonenumber {
    font-size: 25px;
  }

  .menu .contact .emailaddress {
    font-size: 15px;
  }

  .menu .socialmedia {
    height: 30px;
  }
  .menu .socialmedia ul {
    height: 30px;
    margin: 0;
  }

  .menu .socialmedia li {
    font-size: 5px;
    margin: 0 15px;
  }
}

